@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Source+Sans+Pro:400,600,700");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* =============
   Common
============= */
@font-face {
  font-family: myFirstFont;
  src: url(fonts/fontawesome-webfont.woff);
}
body {
  background: #ebeff2;
  margin: 0;
  overflow-x: hidden;
  color: #797979;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
html {
  position: relative;
  min-height: 100%;
  background: #ebeff2;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
}

.h1, h1 {
    font-size: 2rem;}

.btn-primary
{
	background-color: #1f1f41;
	border-color:#1f1f41;
}
.btn-primary:hover {
    color: #fff;
    background-color: #653b9b;
    border-color: #653b9b;
}
.btn-white
{
  background-color: #fff;
  border-color:#000;
}

.form-control-without-border
{
    border: none;
    border-bottom: 1px solid #202042;
    border-radius: inherit;
    
}

.nav-user img{
	object-fit: cover !important;
}
.navbar-custom
{
	background-color: #fff;
}
.breadcrumb-item img
{
  margin-right: 5px;
}
.lan
{
  color: #ab6ee5;
  font-weight: 600;
}
.navbar-custom .app-search .form-control
{
      border: 1px solid #ced4da;
}
.nav-second-level li.active>a, .nav-third-level li.active>a{color: #9c53df !important;}
/*.left-side-menu ul li> a:hover,.left-side-menu ul li> a:focus,.left-side-menu ul li ul li:hover> a,.left-side-menu ul li ul li.active> a{color:#fff !important;background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.31),rgba(255,255,255,0.40));background-color: transparent !important;}*/

/*#sidebar-menu > ul > li > a.active, #sidebar-menu > ul > li:hover > a,#sidebar-menu > ul > li:focus > a{color:#fff !important;background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.31),rgba(255,255,255,0.40));background-color: transparent !important;}
.enlarged #sidebar-menu > ul > li > a.active, .enlarged #sidebar-menu > ul > li:hover > a{color:#000 !important;background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.31),rgba(255,255,255,0.40));background-color: #fff !important;}
*/.logo img{width: 70%}
.dropdown-search{border-top-left-radius:20px !important;border-bottom-left-radius:20px !important;}
.search-option{min-width: 250px;border-top-right-radius:20px !important;border-bottom-right-radius:20px !important;}
.search-btn{right: 0;z-index: 5 !important;border-top-right-radius:20px;border-bottom-right-radius:20px;}
#sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:hover{color:#fff;}
/*.table th
{
	background-color: #1f1f41;
    color: wheat;
}
.table th, .table td
{
	padding: 0.50rem;
}*/
.left-side-menu {padding: 0px; background: #1f1f41;}
#sidebar-menu > ul > li > a {color:#fff; }
#sidebar-menu > ul > li > a.active, #sidebar-menu > ul > li:hover > a{color:#fff !important;background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.31),rgba(255,255,255,0.40));background-color: transparent !important;}

.enlarged .logo-box{width: 120px!important;}
.enlarged .logo-box img{width: auto; max-width:70px;}
.enlarged .left-side-menu #sidebar-menu>ul>li.active ul{display: block !important;}
.enlarged .left-side-menu #sidebar-menu>ul>li>a>span{color: #6e768e !important;}
.enlarged .left-side-menu #sidebar-menu>ul>li>ul>li>a,.enlarged .left-side-menu #sidebar-menu>ul>li>ul>li>a:hover{color:#653b9b !important;}


/*#sidebar-menu > ul > li > a.active
{
	color: #000;
  background-color: #fff;
}
#sidebar-menu > ul > li > a:hover
{
	color: #000;
  background-color: #fff;
}*/
.nav-second-level li a:focus, .nav-second-level li a:hover, .nav-thrid-level li a:focus, .nav-thrid-level li a:hover
{
	color:#653b9b;
}
#sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active
{
	color:#fff;
}
.enlarged .left-side-menu #sidebar-menu > ul > li > a:hover, .enlarged .left-side-menu #sidebar-menu > ul > li > a:active, .enlarged .left-side-menu #sidebar-menu > ul > li > a:focus
{
	color:#653b9b;
}
.enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul a:hover
{
	color:#653b9b;
}
.navbar-custom .button-menu-mobile
{
	color:#000;
}
.navbar-custom .topnav-menu .nav-link
{
	color:#000;
}
.page-item.active .page-link
{
	background-color: #1f1f41;
    border-color: #1f1f41;
}
/*.nav-second-level li a, .nav-thrid-level li a
{
	color:#fff;
}*/

/* =============
   Portlets
============= */
.portlet {
  background: #fff;
  border-radius: 0.25rem;
  margin-bottom: 20px;
  background-clip: padding-box;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}
.portlet .portlet-heading {
  border-radius: 3px 3px 0 0;
  padding: 12px 20px;
  /*border-bottom: 1px solid #efefef;*/
}
.portlet .portlet-heading .portlet-title {
  float: left;
  line-height: 1.5;
  margin: 0;
}
.portlet .portlet-heading .portlet-widgets {
  display: inline-block;
  float: right;
  font-size: 15px;
  line-height: 30px;
  padding-left: 15px;
  position: relative;
  text-align: right;
}
.portlet .portlet-heading .portlet-widgets .divider {
  margin: 0 5px;
}
.portlet .portlet-heading .portlet-widgets .collapsed .ion-minus-round:before {
  content: "ïˆ—" !important;
}
.portlet .portlet-heading a {
  color: #999999;
}
.portlet .portlet-body {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
}
.portlet-default .portlet-title {
  color: #ccc !important;
}
.portlet .portlet-heading.bg-custom a, .portlet .portlet-heading.bg-purple a, .portlet .portlet-heading.bg-info a, .portlet .portlet-heading.bg-success a, .portlet .portlet-heading.bg-primary a, .portlet .portlet-heading.bg-danger a, .portlet .portlet-heading.bg-warning a, .portlet .portlet-heading.bg-inverse a, .portlet .portlet-heading.bg-pink a {
  color: #fff;
}
.portlet .portlet-heading .portlet-title
{
    color: #797979;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 5px;
}
.panel-disabled {
  background: rgba(243, 242, 241, 0.5);
  bottom: 15px;
  left: 0;
  position: absolute;
  right: -5px;
  top: 0;
}
.loader-1 {
  -moz-animation: loaderAnimate 1000ms linear infinite;
  -o-animation: loaderAnimate 1000ms linear infinite;
  -webkit-animation: loaderAnimate 1000ms linear infinite;
  animation: loaderAnimate 1000ms linear infinite;
  clip: rect(0, 30px, 30px, 15px);
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 30px;
}
.loader-1:after {
  -moz-animation: loaderAnimate2 1000ms ease-in-out infinite;
  -o-animation: loaderAnimate2 1000ms ease-in-out infinite;
  -webkit-animation: loaderAnimate2 1000ms ease-in-out infinite;
  animation: loaderAnimate2 1000ms ease-in-out infinite;
  border-radius: 50%;
  clip: rect(0, 30px, 30px, 15px);
  content: "";
  height: 30px;
  position: absolute;
  width: 30px;
}
/* Labels */
.label {
  display: inline;
  padding: 0.3em .6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label:empty {
  display: none;
}
.label-white {
  background-color: rgba(255, 255, 255, 0.7);
  color: #36404a !important;
}
.label-default {
  background-color: #5fbeaa;
}
.label-primary {
  background-color: #5d9cec;
}
.label-success {
  background-color: #81c868;
}
.label-info {
  background-color: #34d3eb;
}
.label-warning {
  background-color: #ffbd4a;
}
.label-danger {
  background-color: #f05050;
}
.label-purple {
  background-color: #7266ba;
}
.label-pink {
  background-color: #fb6d9d;
}
.label-inverse {
  background-color: #4c5667;
}
.label-muted {
  background-color: #98a6ad;
}
.label-pink {
  background-color: $pink;
}
.label-inverse {
  background-color: $inverse;
}
.label-muted {
  background-color: $muted;
}
.cursur-pointer
{
	cursor: pointer;
}

.image_size {width: 50px; height: 50px; border-radius: 21%; object-fit: cover;}


/* custimized */
.notiflix-confirm-content{
  border-radius: 0px !important;
}
.confirm-button-ok{
  background-color:#1f1f41 !important;
}
.confirm-button-cancel{
  background:  #d9534f !important;
}
.notiflix-confirm-head h5{
  color: #0f0f20 !important;
}
.grab{
  cursor: pointer !important;
}
.stop{
  cursor: not-allowed;
}


/*#sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active{
  color:black !important;
}*/
.post-user-comment-box{
  margin: 0 !important;
  padding: 7px !important;
  margin-top: 20px !important;
}
.new-card{
  background-color: aliceblue !important;
}

/*Dashboard Css*/
.from-location:before{content: "\f3c5";position: absolute; left: -21px; top: 3px;font-family: "Font Awesome 5 Free"; font-weight: 900;color: #9B51E0}
.from-location:after{content: '';border-left:1px dashed #9B51E0;position: absolute;left: -16px; top: 17px; width: 1px; height: 50px;}
.to-location:before{content: '\f024';position: absolute; left: -21px; top: 3px;font-family: "Font Awesome 5 Free"; font-weight: 900;color: #9B51E0}
.icon::before {display: inline-block; font-style: normal; font-variant: normal; text-rendering: auto; -webkit-font-smoothing: antialiased; }
.bg-purple{background-color: rgba(155,81,224)}
.bg-red{background-color: rgba(213,105,105) }
.bg-yellow{background-color: rgba(224,176,81)}
.bg-blue{background-color: rgba(81,148,224) }
.bg-green{background-color:#189B25}
.recent-pending{border-top-left-radius: 40px; border-bottom-left-radius: 40px;}
.text-green{color:#189B25}
.overflow-height{height: 700px; overflow-y: auto;}
/* width */
.overflow-height::-webkit-scrollbar {width: 3px;}
/* Track */
.overflow-height::-webkit-scrollbar-track {box-shadow: inset 0 0 5px grey; border-radius: 10px;}
/* Handle */
.overflow-height::-webkit-scrollbar-thumb {background:  rgba(155,81,224,0.13); border-radius: 10px;}
.location-box-map{bottom: 0px;}
.box-over:hover{border:1px solid #9B51E0 !important;box-shadow: 0 0px 7px 0 rgb(155 81 224 / 50%);}

.txt-blue{color: #1f1f41 !important; font-weight: 600; }
.txt-purple{color: #9B51E0 !important; font-weight: 700; }
.txt-black{color: #000000;}
.txt-red{color:#D56969;}
.select-trucks input.largerCheckbox {width: 25px; height: 25px; border-radius: 2%; }

.font-24{font-size:22px !important;}
.font-22{font-size:20px !important;}
.font-20{font-size:18px !important;}
.font-16{font-size:15px !important;}
.font-17{font-size:17px !important;}
.font500{font-weight:500;}
.font400{font-weight:400;}

.border-r35{border-radius:35px !important;}
.border-r30{border-radius:30px !important;}
.border-r20{border-radius:20px !important;}
.border-r15{border-radius:15px !important;}
.border-r13{border-radius:13px !important;}
.border-r9{border-radius:9px;}
.border-r6{border-radius:6px;}
.border-50{border-radius:50%;}




input[type="checkbox"] { position: absolute; opacity: 0; z-index: -1; }
input[type="checkbox"]+span { font: 16pt sans-serif; color: #9B51E0; }
input[type="checkbox"]+span:before { font: 16pt FontAwesome; content: '\00f096'; display: inline-block; width: 16pt; padding: 2px 0 0 3px; margin-right: 0.5em; }
input[type="checkbox"]:checked+span:before { content: '\00f046'; }
input[type="checkbox"]:focus+span:before { outline: 1px dotted #aaa; }
input[type="checkbox"]:disabled+span { color: #999; }
input[type="checkbox"]:not(:disabled)+span:hover:before { text-shadow: 0 1px 2px #77F; }

/* 17-08-2021 */
.delivery_type:after {
    width: 18px;
    height: 18px;
    border-radius: 15px;
    top: 20%;
    left: 20%;
    position: relative;
    /* background-color: #d1d3d1; */
    content: '';
    display: block;
    visibility: visible;
    border: none !important;
}

.delivery_type:checked:after {
     background-color: #9B51E0;
}

.addressOptions:after {
    width: 7px;
    height: 7px;
    border-radius: 5px;
    top: 21%;
    left: 21%;
    position: relative;
    /* background-color: #d1d3d1; */
    content: '';
    display: block;
    visibility: visible;
    border: none !important;
}

.addressOptions:checked:after {
     background-color: #9B51E0;
}

.btn-outline-primary{
    background-color: white !important;
    border: none !important;
    background: none !important;
    /* border-color: #1f1f41 !important; */
    color: #1f1f41 !important;
    font-weight: 500 !important;
    height: 50px;
    padding-top: 8%;
    /* border-radius: 15% !important; */
}

.btn-outline-info{
    background-color: white !important;
    /* border: none !important; */
    background: none !important;
    /*border-color: #9B51E0 !important;*/
    border:none;
    color: #9B51E0 !important;
    font-weight: 800 !important;
    /* border-radius: 15% !important; */
}

.btn-outline-info:hover{border:none;}
.btn-outline-info:focus{box-shadow: none;}
.btn-outline-primary:not(:disabled):not(.disabled).active, .btn-outline-primary:not(:disabled):not(.disabled):active, .show>.btn-outline-primary.dropdown-toggle{
    background-color: #1f1f41 !important;
    height: 46px;
    padding-top: 8%;
    border: none !important;
    /* border-color: #1f1f41 !important; */
    color: white !important;
    /*border-radius: 12% !important;*/
}
.content-page {
    /*overflow-y:scroll !important;
    padding-bottom: 100px !important;
    height: calc( 100vh - 108px ) !important;*/
}


 /* .my-theme{
        background-color: #1f1f41 !important;
        color: white !important;
        border: none !important;
    } */



    /* style="height:35px; width:35px; vertical-align: middle;" */

    /* input[type='radio']:after {
        width: 18px;
        height: 18px;
        border-radius: 15px;
        top: 20%;
        left: 20%;
        position: relative;
        background-color: #d1d3d1;
        content: '';
        display: block;
        visibility: visible;
        border: none !important;
    }

    input[type='radio']:checked:after {
         background-color: #9B51E0;
    } */






/*
    a.multiple_stops {
        cursor: not-allowed;
        text-decoration: none;
    }

    a.multiple_stops:hover::after {
        content: attr(title);
        padding-left: 10px;
        color: black;
    } */

.long-haul-shipment .long-block p em{font-style: normal;font-weight:700;}
.long-haul-shipment .long-block .popup .btn-tooltip{border-radius:30px;background-color: #ffffff;width:16px;height:16px;border:1px solid #1F1F41;font-size: 12px;padding: 5px;}
.long-haul-shipment .long-block .popup .btn-tooltip:hover span{min-width: 275px; top: -10px; left: 35px; background: #ffffff; padding: 10px; border-radius:10px;display:block !important;}
.long-haul-shipment .form-group .form-control{background: transparent; border: none !important; border-bottom: 1px solid #1F1F41 !important; border-radius: 0px;}
.long-haul-shipment .form-group .icon{top:5px;}
.long-haul-shipment .form-group p{color: #B4B4C0;}
.long-haul-shipment .form-group .form-control::placeholder{font-size:14px;color: rgba(31,31,65,0.70);}
.long-haul-shipment .form-group input{max-width:330px;}
.long-haul-shipment .form-group textarea.form-control{margin-left:13px;border:1px solid #9B51E0 !important; background-color: rgba(155,81,224,0.06);max-width:350px;}
.long-haul-shipment .form-group textarea.form-control::placeholder{font-size:16px;font-weight:500;color:rgba(155,81,224,0.28);}
.long-haul-shipment .form-group .price_div{display:flex;align-items:center;/* margin-left: 33px; */}
/* .long-haul-shipment .form-group .btn-blue{margin-left: 33px;} */
.long-haul-shipment .label-wrapper input[type="checkbox"]+span:before{font:18pt FontAwesome;width:18pt; margin-right: 0.2em;}
.long-haul-shipment .label-wrapper input[type="checkbox"]+span{color: rgba(112,112,112,0.74);}

/* .allow-bidding{margin-left: 33px;} */
.allow-bidding .switch {position: relative; display: inline-block; width: 35px;}
.allow-bidding .switch input {opacity: 0; width: 0; height: 0; }

.allow-bidding .slider {position: absolute; cursor: pointer;height:12px; top:-5px; left: 0; right: 0; background-color: #ccc; -webkit-transition: .4s; transition: .4s; }
.allow-bidding .slider:before {position: absolute; content: ""; height: 16px; width: 16px; left: -5px;right:0; bottom: -2px; background-color: white; -webkit-transition: .4s; transition: .4s;border:1px solid #9B51E0; }

.allow-bidding input:checked + .slider {background-color: #1f1f41; }
.allow-bidding input:focus + .slider {box-shadow: 0 0 1px #2196F3; }
.allow-bidding input:checked + .slider:before {-webkit-transform: translateX(26px); -ms-transform: translateX(26px); transform: translateX(26px); }
.allow-bidding input[type="checkbox"]:checked+span:before{content: "";}
.allow-bidding input[type="checkbox"]+span:before{margin-right: 0px;}

/* Rounded sliders */
.allow-bidding .slider.round {border-radius: 34px; } 
.allow-bidding .slider.round:before {border-radius: 50%; }

input:focus-visible {outline-offset: 0px;}


.btn-blue
{
  background-color: #1f1f41;min-width:175px;
  border-color:#1f1f41;
}
.btn-blue:hover {
    color: #fff;
    background-color: #653b9b;
    border-color: #653b9b;
}


.pickup-content .dropdown-toggle.form-control{text-overflow: ellipsis;overflow: hidden;}
.pickup-content .dropdown-menu.show{top: auto !important;}


.manage-shipments .order-status .form-control{background-color: rgba(213,105,105,0.14) !important;border:1px solid #D56969;}
.manage-shipments .no-bids-search{list-style-type: none;}
.manage-shipments .no-bids-search li{margin-right:10px;}
.manage-shipments .no-bids-search li a{border:1px solid #B7B7B7;}

/* .bid-steps li{list-style-type: none;width: 33.33%;} */
.bid-steps li{list-style-type: none;width: auto;}
.bid-steps li a{z-index: 1;}
/*.bid-steps li:before{content: "";position:absolute;border: 1px dashed #B7B7B7;left: -100%;width:100%;top:10px;}*/


/*.bid-steps li:nth-child(1):before{left:0;}
.bid-steps li:nth-child(2):before{left:0;}
.bid-steps li:nth-child(3):before{left:0;width:50%;}*/

/*.bid-steps li:nth-child(1):after{content: "";position:absolute;border: 1px dashed #B7B7B7;left:0;width:100%;top:10px;}*/



.border-blue{border:1px solid #1F1F41 !important;}
.border-red{border:2px solid #D56969;}
.border-grey{border:1px solid #B7B7B7;}
.label-grey{background-color: rgba(31,31,65,0.05);}
.bid-steps li .icon.border-cancelled{background-color: #D56969 !important;}
.icon.border-cancelled .inner-icon{display: none;}

.no-bids-track-order-list .from-location:before{content: "";position: absolute;left: -36px;top: 0px;background-image: url(../images/no-bids-from-location.svg);background-repeat: no-repeat;width:21px;height:26px;}
.no-bids-track-order-list .from-location:after {content: ''; border-left: 1px dashed #B7B7B7; position: absolute; left: -26px; top: 30px; width: 1px; height: 100%;}
.no-bids-track-order-list .to-location:after{content: ''; border-left: 1px dashed #B7B7B7; position: absolute; left: -25px; top: 25px; width: 1px; height: 100%;}
.no-bids-track-order-list .end-location:before {content: ""; position: absolute; left: -34px; top: 0px; background-image: url(../images/end-flag.svg); background-repeat: no-repeat; width: 23px; height: 26px;}

.no-bids-track-order-list .pickup-content{background-color: rgba(183,183,183,0.14);}
.no-bids-track-order-list .pickup-content li{width:20%;}
/*.no-bids-track-order-list .pickup-content li{width:20%;white-space: nowrap;margin: 0 20px;}
.no-bids-track-order-list .pickup-content li:first-child{margin-left:0p;}*/

.no-bids-track-order-list ul li .icon {width: 19px;height: 19px;background-color: #ffffff;left:-22px;}
.no-bids-track-order-list ul li .icon  .inner-icon {width: 13px; height: 13px; background-color: #B7B7B7;}
.no-bids-track-order-list .to-location:before{display: none;}

.cancel-shipment .modal-body p em{font-style: normal;}

.manage-order-shipment-view-address .modal1250{max-width: 1250px;}

.bid-steps li{padding-right:15px;}
.bid-steps li:after{content: ""; position:absolute; right:0;top:10px;width:100%;border:1px dashed #B7B7B7;}
.bid-steps li:nth-last-child(1):after{display: none;}

.bid-steps li .icon{width:20px;height:20px;background-color:#ffffff;border:1px solid #B7B7B7;}
.bid-steps li .icon .inner-icon{width:13px;height:13px;background-color: #B7B7B7;}

.bid-steps li.active .icon{border:1px solid #1F1F41;}
.bid-steps li.active .icon .inner-icon{background-color: #1F1F41;}

.bid-steps li.cancelled .icon{background-color: #D56969;border:none;}
.bid-steps li.cancelled .icon .inner-icon{display: none;}

.bid-steps li .text-wrap{z-index: 1;}
.bid-steps li .text-wrap p{color:rgba(0,0,0,0.50);}
.bid-steps li .text-wrap .text-nowrap{margin-bottom:10px;}

.sub-category-page .select2-container--default .select2-selection--multiple .select2-selection__choice{padding:5px;background-color:#1f1f41; color:#ffffff;}
.sub-category-page .select2-container--default .select2-selection--multiple .select2-selection__choice__remove{color: #ffffff;}
.sub-category-page .select2-container--default .select2-selection--multiple{padding:5px;}
.sub-category-page .select2-container--default .select2-selection--multiple .select2-selection__choice__remove:hover{color:#ffffff;}

.location-input .select2-container--default .select2-selection--single{border: none !important; background-color: transparent !important; border-bottom: 1px solid #000 !important; border-radius: 0px !important; }
.profile-dropdown{width:auto;box-shadow: 0 0 62px 0 rgb(170 161 171 / 45%);min-width: 110px;}
.notification-list .profile-dropdown .notify-item {padding: 7px 15px;}
.top-destination .select2-container .select2-selection--single{height:38px;border:1px solid #ced4da;border-radius: 20px 0 0 20px;border-right:none;}
.top-destination .select2-container--default .select2-selection--single .select2-selection__rendered{line-height:38px;}
.top-destination .select2-container--default .select2-selection--single .select2-selection__arrow{top:50%;transform: translateY(-50%);}

.add-facility-address .select2-container .select2-selection--single{height:33px;}
.add-facility-address .select2-container--default .select2-selection--single .select2-selection__rendered{line-height: 33px;}
.add-facility-address .select2-container--default .select2-selection--single .select2-selection__arrow{top:50%;transform: translateY(-50%);}


.truck-box{border:1px solid #d7d8d9!important;border-radius:20px;}
.truck-box p em{font-style: normal;}

.tr-br{border-right:1px solid #d7d8d9!important;}

.h3, h3 {font-size: 1.2rem;}
.h1, h1 {font-size: 2rem;}
.btn-outline-danger,.btn-outline-dark{border:none;}
.btn-outline-danger:hover,.btn-outline-danger:focus{outline: none;}
.card-body .btn-white{border:none;}
.left-side-menu ul li> a:hover, .left-side-menu ul li> a:focus, .left-side-menu ul li ul li:hover> a {color: #fff !important; background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.31),rgba(255,255,255,0.40)); background-color: transparent !important;}

.add-one{position:relative;}
.add-one img{position: absolute; left: 0px; top: 50%; transform: translateY(-50%); margin-top:0px;}
.add-one span,.add-one label{padding-left: 40px;}
.add-one label{margin:0px;}

.scroll-container{overflow: hidden;overflow-x: auto;}
.grey-scroll::-webkit-scrollbar-track{-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,0.3);border-radius: 2px;background-color:rgba(31,31,65,0.05);height:5px;cursor:pointer;margin-right: -100px;margin-top:10px;}
.grey-scroll::-webkit-scrollbar{width: 2px;background-color: transparent;height:5px;cursor:pointer;margin-right: -100px;}
.grey-scroll::-webkit-scrollbar-thumb{border-radius: 2px;-webkit-box-shadow: inset 0 0 2px rgba(0,0,0,.3);background-color: #9B51E0;height:5px;cursor:pointer;margin-right: -100px;}



/*responsive-css*/
@media (max-width:1024px){
.left-side-menu{width:200px;}
.left-side-menu .nav-second-level li a{padding: 8px 15px;}
.content-page {margin-left: 215px;}
}



.chat-wrap .inline-fields img{max-width: 70px;}
.btn-primary-apply{background-color: #653b9b;}
.btn-primary-apply:hover{color: #ffffff;}
.search-trucks th{white-space: nowrap;}
.label-switch{white-space: nowrap;}

.no-bids-track-order-list .pickup-content{overflow: auto; justify-content: flex-start !important;background-color: rgba(183,183,183,0.14) !important;}
.no-bids-track-order-list .pickup-content li{white-space: pre-line; padding: 0 15px; min-width: 130px;}
.inbox-widget .inbox-item .inbox-item-date{position: inherit !important;top:auto !important;}