


@media (max-width:1440px) {
.main-menu{padding: 60px 0 40px;}
.purple-btn{min-width: auto;width: 100%;}
.sign-page .img-wrapper img{max-width:100%;}
.sign-page .sign-in-side{padding: 50px 0 0 50px;margin-right: -50px;}
.sign-in-side .send-otp{margin:80px 0 45px;}
.sign-in-side .otp-wrapper .digit-group input{margin:0 15px;}
.sign-in-side .verify-otp .black-btn{min-width: auto;width:100%;}
.sign-in-side .resend {padding: 30px 15px 0 0;}
.btm-footer{padding-top: 100px;}
.btm-footer .top {padding: 50px 0 0;}
.btm-footer .top .links ul li a{word-break: break-all;}
ul.topnav-menu.search-bar{margin-left:70px !important;}
.navbar-custom .app-search .form-control{font-size:10px;}
#language .dropdown-menu{left:-70px;}
.navbar-custom ul.topnav-menu.search-bar li a.nav-link{font-size: 13px;}
.navbar-custom .app-search .form-control::placeholder{font-size:15px;}


/*home-page-css*/
.try-free-block .block{margin: 0 30px;}
.mt230 {margin-top: 200px;}

/*LATEST*/
.transport-page .join-us.shipper .img-wrapper:after{left: -190px;}

}

@media (max-width:1300px) {
/*LATEST*/
.transport-page .join-us .img-wrapper:after {right:-220px;}
.transport-page .join-us.shipper .img-wrapper:after {left: -270px;}
}

@media (max-width:1200px) {
.navbar-brand{max-width: 180px;}
.main-menu ul.navbar-nav li {margin: 0 15px 0 0;}
.main-menu ul.navbar-nav li a{font-size: 18px;}
.sign-page .sign-in-side{padding: 40px 0 0 50px;}
.sign-in-side h1{font-size: 24px;}
.sign-in-side ul.nav-tabs{margin-bottom: 30px !important;}
.sign-in-side .tab-content .form-group{margin-bottom: 30px !important;}
.sign-in-side .black-btn{height: auto;}
.download-app ul li{margin: 0 5px;}
.download-app ul li a .text-wrapper{font-size: 16px;}
.download-app ul li a .text-wrapper em{font-size:11px;}
.sign-in-side .forgot-block .img-wrap{margin-bottom:25px !important;}
.sign-in-side .text{font-size: 15px;}
.sign-in-side .forgot-block .form-group{margin-top: 30px !important;}
.step-info .personal-details .text-wrap h3{font-size: 23px;}
.registration-form .black-btn:before{width: 25%;}
.sign-in-side .send-otp .black-btn{margin-top: 50px;}
.sign-in-side .otp-wrapper .digit-group input{margin: 0 7px;}
.sign-in-side .otp-wrapper .img-wrap{margin-bottom: 30px !important;}
.sign-in-side .verification .big-text{font-size: 35px;}
.sign-in-side .verify-otp .black-btn{line-height: normal;}
.btm-footer .top .links h3{font-size:23px;}
.left-side-menu{width: 250px;}
#sidebar-menu>ul>li>a{font-size:16px;}
ul.prev{left: 140px;}
.navbar-custom{padding:15px 20px;}
.logo span.logo-lg img{max-width:80%;}
.navbar-custom ul.topnav-menu li a.nav-link.nav-user{display: flex;align-items: center;}
ul.topnav-menu li a .pro-user-name{font-size:17px;}
.navbar-custom ul.topnav-menu li a.nav-link .text{font-size:12px;}
ul.topnav-menu li a.shipment{padding:5px !important;}
.navbar-custom .topnav-menu>li .notify{top: -5px;}
ul.topnav-menu.search-bar {margin-left: 25px !important;}
.navbar-custom ul.topnav-menu #language .dropdown-menu {left: -80px !important;}
.navbar-custom .app-search .app-search-box{padding-left:35px;}
.navbar-custom .app-search .form-control{display: none;}

/*content-page*/
.content-page{margin-left: 250px;}

/*home-page-css*/
.home-outer h1{font-size:65px !important;}
.home-outer .btn-block .btns a{margin: 0 10px;}
.feedback-slider.owl-carousel .owl-item.active{margin-right: 25px !important;}
.feedback-slider .item .text-wrapper .name{font-size:15px !important;}
.divisions .bg-dark-purple > .row{padding:50px 50px 50px 0 !important;}
.divisions .bg-light-grey > .row{padding:50px 0px 50px 30px !important;}

.btn-black-cust{max-width: 240px;font-size: 20px !important;}

/*LATEST*/
.contact-us .newsletter {margin: 125px 0 -100px 0;}
.transport-page .join-us .img-wrapper .img-wrap {right: 50%;transform: translateX(50%);}
.feedback-slider .item p{font-size:18px !important;line-height: 35px;}

/*new-latest*/
.btm-footer{padding-top: 50px;}

}


@media (max-width:1024px){
    .main-menu{padding: 30px 0;}
    .navbar-collapse{margin-top: 0px;}
    .main-menu ul.navbar-nav li a{font-size: 15px;}
    .step-info form .form-group .icon img{transform: scale(0.9);}
    .step-info form .form-group .icon img{transform: scale(0.8);}
    .step-info .form-control{padding: 10px 20px 25px 45px;font-size: 15px;}
    .main-menu ul.navbar-nav li{margin: 0px;}
    .black-btn{padding: 20px;font-size:20px;height: auto;}
    .step-info form .form-group .verify{min-width: auto;padding: 7px;}
    .step-info form .form-group .icon.verified{right: 0px;}
    .step-info form .form-group .icon.pass{right:10px;}
    .modal-content {padding:30px 75px;}
    .modal-content .modal-body .verify-block{padding: 30px;}
    .navbar-collapse .form-group{display: inline-block;}
    .step-info .nice-select{margin-bottom:20px;height: auto;font-size: 15px;}
    .step-info .nice-select:after{top: 0;margin-top: 7px;}
    .main-container{margin:50px -28px 0;padding: 40px 35px 60px;}
    .bottom-container {margin: 0 -25px;}
    .step-info form .form-group .icon{top: 5px;}
    .purple-btn{min-width: auto;padding: 20px 50px 20px 30px;font-size:20px;}
    .purple-btn:after{right: 10px;}
    .reg-facility-address .icon.location{right: 10px;}
    .terms-conditions .form-group p{font-size: 20px;}
    .sign-in-side h1{font-size:25px; }
    .download-app ul{display: block !important;}
    .download-app ul li{margin: 10px 0;}
    .download-app ul li a{display: inline-flex;}
    .digit-group input {width: 35px; height: 35px;margin: 0 2px;}
    .sign-in-side .tab-content .form-group{margin-top:30px !important;}
    .sign-page .sign-in-side {padding: 20px 0 0 30px;margin-right: -30px;}
    .step-info .personal-details ul{flex-wrap: nowrap;}
    .step-info .personal-details .text-wrap h3{font-size: 20px;padding-right: 5px;}
    .step-info .personal-details a.active .text-wrap{position: relative;top: 5px;left: -5px;font-size: 18px;}
    .digit-group{margin:0 auto;}
    ul.wizard{margin-top: 30px !important;}
    .sign-in-side .send-otp .black-btn{margin-top: 20px;}
    .sign-in-side .text{font-size: 13px;}
    .digit-group{margin-top: 20px !important;}
    .sign-in-side .resend {padding: 15px 15px 0 0;}
    .sign-in-side .verification .big-text{font-size: 30px;}
    .sign-in-side .verification p{font-size: 18px;}
    .sign-in-side .black-btn{line-height: normal;}
    .btm-footer .top .links h3{font-size: 19px;}
    .enlarged .left-side-menu #sidebar-menu>ul>li>a{position: relative;background-color: transparent;padding: 15px 85px;}
    .enlarged .left-side-menu #sidebar-menu>ul>li>a span{display: block;padding-left: 0px;}
    #sidebar-menu > ul > li a .icon{width: auto;height: auto;}
    .enlarged .left-side-menu #sidebar-menu>ul>li>a .icon{position: absolute;left: 20px;}
    .enlarged .left-side-menu #sidebar-menu>ul>li:hover>a{position: relative;width: calc(190px + 70px);background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.31),rgba(255,255,255,0.40));background-color: transparent;color: #1F1F41;}
    .enlarged .left-side-menu #sidebar-menu>ul>li>a span{display: none;}
    .enlarged .left-side-menu #sidebar-menu>ul>li>a .icon{display: block !important;}
   .enlarged .left-side-menu #sidebar-menu>ul ul li.active a,.enlarged .left-side-menu #sidebar-menu>ul>li:hover>ul a:hover{color:#1F1F41;}
   #sidebar-menu .nav-second-level li{padding-left:20px;}
   .profile-dropdown{width:280px;padding: 20px;}
   .profile-dropdown ul li a{font-size:18px;}
   ul.topnav-menu.search-bar {margin-left: 50px !important;}
   .enlarged .logo span.logo-sm img{max-width: 120%;}
    .enlarged .left-side-menu #sidebar-menu>ul>li:hover>ul{width: auto;}
 .enlarged .left-side-menu #sidebar-menu>ul>li:hover>ul a{width: auto;}

/*home-page-css*/
.home-outer .left-text-content h1{font-size:55px !important;}
.company-view .download-app ul{display: flex !important;}

.video-block .text-wrapper{padding:100px 70px 0 70px;}
.video-block .text-wrapper .big-text{font-size:45px !important;}
.video-block{height:800px;}
.mt230 {margin-top: 110px;}
.contact-us h2{font-size:40px !important;}
.home-page .collab-us h2{font-size:35px !important;line-height: 45px;}
.content-block .text-area{max-width: 300px;}
.content-block.bg-dark-purple {padding: 100px 50px 100px 0;}
.content-block .text-area p{font-size:16px !important;}
.content-block.bg-light-grey {padding: 100px 0px 100px 60px;}
.content-block .text-area a.learn-more {padding: 15px 25px;}
.feedback-slider .item p{font-size:18px !important;line-height: 30px;}
 .contact-us .btn-black-cust{width: auto;}
 .contact-us .newsletter{margin:100px 0 -100px 0;}

  /*LATEST*/
 .transport-page h1{font-size:55px !important;}
.transport-page h2{font-size:35px !important;}
.transport-page .join-us .img-wrapper .img-wrap {right: 30%;transform: translateX(50%);}

}   

@media (max-width:1020px){

}

@media (max-width: 992px) { 

.terms-conditions .form-group p{font-size: 17px;}
.sign-in-side .tab-content .form-group .form-control{height: 50px;padding: 10px 20px 30px 40px;}
.sign-in-side h1{font-size: 20px;margin: 0 0 20px;}
.step-info .personal-details a.active .text-wrap{position: relative;top: 4px;left: -10px;}
 .step-info .personal-details .text-wrap h3{font-size: 18px;}
 .radio-popup .modal-dialog{max-width:600px;}
 .radio-popup .modal-content{padding: 50px 100px;}
 .btm-footer .top .links h3{font-size: 18px;}
.btm-footer .top .links ul li{margin:0 0 10px;}
 .btm-footer .top .links ul li a{font-size:16px;}
ul.topnav-menu li a .pro-user-name{font-size:12px;}
 .navbar-custom ul.topnav-menu li a.nav-link.nav-user img{max-width:80%;}
 .navbar-custom .app-search .form-control{display: none;}
 .navbar-custom .app-search .app-search-box{padding-left: 40px;}
 ul.search-bar > li .radio label{font-size: 17px;}
 ul.search-bar > li .dropdown-menu{width: 230px;}
 .logo-box{display: block !important;}

 /*home-page-css*/
 .contact-us .btn-black-cust{width: auto;}

/*LATEST*/
.transport-page .join-us .img-wrapper .img-wrap {right: 30%;transform: translateX(70%);}

}


@media (max-width: 991px) { 
/*home-page-css*/
.newsletter .email .form-group{margin-bottom: 20px !important;}
.navbar-toggler {position: absolute;right: 0;top: 0;}
.divisions .bg-dark-purple{padding-left:20px;}
.divisions .bg-dark-purple .img-wrapper{margin-left: 0px;}
.divisions .bg-light-grey .img-wrapper{margin-right: 0px;}
.main-menu #language .dropdown{text-align: center;}
.contact-us .newsletter .form-group .form-control{height: 60px;}

/*LATEST*/
body.outer .main-menu{position: absolute !important;left:0;right:0;top:0;}
body.outer .main-menu.fixed{position: fixed !important;}
body.outer .main-menu .navbar-collapse{background-color:#ffffff;margin-top:20px;}
.transport-page .features-area .block .icon {min-width: 70px; width: 70px; height: 70px;}
.home-page{padding-top: 100px !important;}
.transport-page .features-area .tab-content p{font-size:18px !important;}

.mission-block h2 {font-size: 35px !important;}
.timeline > li .timeline-image .icon{width:60px;height:60px;}
.timeline > li .timeline-image .icon img{transform: scale(0.8);}
.mission-block > .container-fluid > .row{position: relative;padding:85px 0;}

/*..latest*/
.sign-page{padding-top:100px;}
.registration-form{padding-top:150px !important;}

}


@media (max-width: 767px) { 

.navbar-toggler{position: absolute;right: 0;top: 0;}
.navbar-collapse  {text-align: center !important;}
.main-menu.fixed{position: fixed;left: 0;right: 0;width: 100%;background-color: #ffffff;z-index: 9;transition: 0.5s ease-in-out;box-shadow: 0 0 3px 0;}
.add-more .text{font-size: 20px;}
.step-info .shipping-pro-type .ship-product-type ul.form-control li.badge .btn-close{margin:-4px -4px 0 15px;}
.sign-page .container-fluid{padding: 0 15px !important;}
.sign-page .sign-in-side{padding: 0px 30px;margin: 50px 0;}
.download-app ul{display: flex !important;}
.sign-in-side .send-otp .black-btn{min-width: 600px;width: auto;;margin:0 auto;}
.sign-in-side .otp-wrapper .digit-group input {margin: 0 30px;}
.sign-in-side .resend {padding: 15px 20px 0 0;}
.sign-in-side .verification{text-align: center;}
.sign-in-side .verification .purple-btn{min-width: 500px;width:auto;}
.sign-in-side .verification .form-group{margin: 60px 0 !important;}
.sign-in-side .forgot-block .black-btn{margin-top:30px;}
.btm-footer{padding-top: 50px;}
.btm-footer .top .logo-wrapper,.btm-footer .top .text{text-align: center;}
.btm-footer .top .links{margin: 30px 0;text-align: center;}
.btm-footer .bottom{text-align: center;}
.btm-footer .bottom .terms{justify-content: center !important;}
#language .dropdown-menu{left: 50%;margin-left:-60px;}
#language .dropdown-menu{padding: 15px;}
#language .radio-block .radio.first {margin-bottom: 15px !important;padding-bottom: 15px;}
.navbar-custom ul.topnav-menu #language .dropdown-menu{left:-20px !important;}
.left-side-menu{top: 74px;}
ul.topnav-menu li a.shipment{display: none !important;}
.navbar-custom .app-search{display: none;}
.nav-user{padding: 0 5px !important;}
.navbar-custom ul.topnav-menu li a.nav-link.nav-user img{max-width: 50% !important;}
/*#language #language-bar{margin-right: 30px;}*/
.navbar-custom ul.topnav-menu li a.nav-link.nav-user{display: block;}
.navbar-custom .topnav-menu .nav-link{padding: 0 7px;}
.logo span.logo-lg img{max-width: 65%;}
ul.prev{position: fixed;top: 22px;bottom: 0;left: 5px;z-index: 999;padding:0 0 0px 10px;}
.left-side-menu{width: 0px;transition: all 0.3s;opacity: 0;visibility: hidden;}
.sidebar-enable .left-side-menu{width:210px;display: block;opacity: 1;visibility: visible;}
.left-side-menu #sidebar-menu>ul>li>a{display: none;}
.sidebar-enable .left-side-menu #sidebar-menu>ul>li>a {display: block;}
#sidebar-menu>ul>li>a{font-size:14px;padding:10px;}
#sidebar-menu > ul > li a .icon img{transform: scale(0.8);}
#sidebar-menu ul li .menu-arrow{top:12px !important;}
#sidebar-menu .menu-arrow{right:20px;}
ul.prev .button-menu-mobile:before{background-image: url(../images/navbar.svg);left:5px;}
ul.topnav-menu{position: relative;}
.search-area {display: block;}
ul.topnav-menu li #language #language-bar{margin-right: 0px;}
ul.topnav-menu.profile{margin-right:30px !important;}
ul.topnav-menu.search-bar li.dropdown.show img{transform: rotate(180deg);}
ul.search-bar > li .dropdown-menu{left:0px !important;}
.notification-list .noti-icon-badge{top: -3px;right: 5px;}

/*content-page*/
.content-page{margin-top: 74px;}
.sidebar-enable .content-page{margin-left:190px !important;}

/*more-product-master*/
.more h3{margin-bottom:10px;text-align: center;}
.more a.add-product{float: none;display: inline-flex !important;}
.more .products{text-align: center;}


/*home-page-css*/
.home-outer .img-wrapper{margin-bottom:30px;}
.home-outer .left-text-content h1 {font-size: 45px !important;}
.video-block .text-wrapper .big-text {font-size: 35px !important;}
.contact-us h2 {font-size: 35px !important;}
.home-page .collab-us h2 {font-size: 30px !important;}
.feedbacks h2{font-size: 30px !important;}
.feedback-slider .owl-nav{top:-10px;}
.home-page .collab-us p{width: auto;}
.home-page .download-us ul li a .text-wrapper{font-size:18px !important;}
.home-outer .btn-block:before{top:-110px;}
.feedback-slider .item{min-height: auto;}
.divisions .text-area h2{font-size:35px !important;}


/*LATEST*/
.transport-page .features-area .tab-content{margin:0 30px -140px 30px;}
.features-area .block br{display: none;}
.transport-page .contact-us .newsletter {margin: 100px 0 -50px 0;}
.transport-page h1 {font-size: 45px !important;}
.transport-page h2{font-size:30px !important;}
.transport-page .join-us .img-wrapper .img-wrap {width: 240px;height: 240px;right: 25%; transform: translateX(75%);}
.mission-block > .container-fluid > .row:before{display: none;}
.mission-block{background-color: rgba(112,112,112,0.07);}
.mission-block h2 {font-size: 30px !important;}
.mission-block p{font-size:25px !important;}
.timeline > li .timeline-image .icon{width:55px;height:55px;}
.timeline > li .timeline-image .icon img{transform: scale(0.6);}
.mission-block .left-text-content{margin: 30px 0 0;padding:70px 0px 30px !important;}
.mission-block > .container-fluid > .row{padding: 25px 0 30px;}
}

@media (max-width:576px) { 
.main-menu{padding: 15px 0;}
.main-menu.fixed{position: fixed;left: 0;right: 0;width: 100%;background-color: #ffffff;z-index: 9;transition: 0.5s ease-in-out;box-shadow: 0 0 3px 0;}
.navbar-brand img{max-width: 80%;}
.main-menu ul.navbar-nav li{margin: 0px;}
.main-menu .nice-select{text-align: center;}
.navbar-collapse{text-align: center;margin-top:20px;}
.navbar-collapse .form-group{display: inline-block;}
.main-menu ul.navbar-nav li a{font-size: 18px;}
.registration-form .left-img{text-align: center;}
#basicwizard .tab-content {margin: 0 -15px;}
.step-info form .form-group .icon img{transform: scale(0.7);}
.step-info .form-control{height:40px;padding: 10px 20px 30px 35px;font-size: 15px;}
.step-info form .form-group .icon {left: 0;top: -5px;}
.step-info form .form-group .icon.verified{right: -15px;}
.step-info form .form-group .icon.verified img{max-width: 70%;}
.step-info form .form-group .verify{min-width: auto;padding: 5px;font-size: 12px;top: -5px;right: -8px;}
.black-btn{height: auto;font-size: 18px;padding: 15px;}
.step-info form .form-group .icon.pass{right: 0px;}
.step-info .company-form .form-control{padding-left: 20px;}
.step-info .nice-select{font-size: 15px;height: auto;padding:10px 20px 20px 25px;margin-bottom: 30px;}
.step-info .nice-select:after{top: 0;margin-top:5px;}
.main-container{padding: 20px;margin: 20px 0;}
.main-container .step-info .form-control{padding: 10px 20px 30px 15px;}
.add-more .text{font-size: 18px;}
.terms-conditions .text{font-size: 20px;}
.terms-conditions .form-group p{font-size: 15px;}
.reg-facility-address .icon.location{right: 0px;}
.purple-btn{min-width: auto;padding: 15px 50px 15px 15px;font-size: 15px;}
.purple-btn:after{transform: scale(0.9);top: 15px;right: 5px;max-width: 67%;}
.modal-content{padding: 60px 20px;}
.modal-content .modal-body .title{font-size: 18px;}
.modal-content .modal-body .verify-block{padding: 5px;}
.step-info .dropdown-menu ul li{display: flex;align-items: center;}
.step-info .dropdown-menu ul li .form-check{padding-left: 50px;}
.form-check .form-check-input{width: 30px;height: 30px;top: 0;}
.shipping-form .form-control{padding:10px 20px 30px 25px;}
.step-info .ship-product-type .form-control{padding:10px 20px 10px 15px;}
.step-info .shipping-pro-type .ship-product-type ul.form-control li.badge{padding: 15px !important; }
.step-info .shipping-pro-type .ship-product-type ul.form-control li.badge .btn-close{margin: -5px -4px 0 15px;}
.add-facility{margin-top: 15px;}
.modal-dialog{max-width: 400px;}
.bottom-container {margin: 0 10px;}
#basicwizard .form-group{margin-bottom: 35px;}
.sign-in-side .verify-otp .black-btn{min-width: auto;width: 100%;}
.digit-group input{margin: 0 8px;}
.sign-in-side .resend{padding: 30px 20px 0 0;}
.step-info .personal-details a.active .text-wrap{position: relative;top: 2px;left: -10px}
.step-info .personal-details a.active .text-wrap p{font-size: 15px;}
.step-info .personal-details ul li a:after{width: 70%;}
.sign-in-side .send-otp .black-btn{min-width: auto;width: 100%;}
.sign-in-side .otp-wrapper .digit-group input{margin:0 20px;}
.sign-in-side .verification .purple-btn{width: 100%;min-width: auto;}
.sign-in-side .verification .big-text{font-size:25px;}
.sign-in-side .verification p{font-size:17px;}
.radio-popup .modal-dialog{max-width: 450px;}
.radio-popup .modal-content{padding: 50px 70px;}

/*home-page-css*/
.home-page .collab-us p{width: auto;}
.home-page .collab-us h2{line-height: 40px;}
.try-free-block .block{margin: 0 18px;}

.video-block {height: 500px;}
.video-block .text-wrapper .big-text {font-size: 30px !important;line-height: 35px;}
.video-block .text-wrapper {padding: 50px 50px 0 50px;}
.playbutton{background-size: 90%;}
.mt230 {margin-top: 120px;}
.contact-us .newsletter{margin: 50px 0 -140px 0;}
.btm-footer {padding-top: 110px;}
.home-page .company-view {margin-top: -200px;}
.divisions .text-area h2{font-size:30px !important;}

/*LATEST*/
.transport-page .features-area .tab-content p {font-size: 16px !important;}
.transport-page .money-with-us{height: 870px;}
.transport-page br{display: none;}
}


@media (max-width:575px) {

.playbutton{margin: 75px 0 0 -64px;}

/*LATEST*/
.how-it-works .timeline .timeline-heading h4,.how-it-works .timeline .timeline-heading p{font-size:18px !important;}
}

@media (max-width:480px) { 
/*LATEST*/
body.outer .main-menu.fixed{padding: 20px 0;}
.transport-page .join-us .img-wrapper .img-wrap {width: 180px;height: 180px;}
.transport-page .join-us.shipper .img-wrapper:after {width: 650px;}
}

@media (max-width:320px) { 
.nav-tabs .nav-link{padding: 10px 20px;}
.sign-in-side .tab-content .form-group .form-control{padding: 10px 20px 20px 20px;}
.sign-in-side .tab-content .form-group .icon{right:10px;top: 5px;}
.download-app ul{display: block !important;}
.step-info .personal-details a.active .text-wrap p{font-size: 10px;}
.step-info .personal-details ul li a:after{width: 58%;}
.sign-page .sign-in-side .forgot-block .form-control{padding: 10px 20px 40px 25px;}
.sign-in-side .verification .form-group{margin:20px 0 !important;}
.radio-popup .modal-content {padding: 50px 30px;}
.digit-group input{width: 25px;height:25px;}
.sign-in-side .otp-wrapper .digit-group input{margin:0 5px;}

/*home-page-css*/
.home-outer .left-text-content{margin-top: 50px;}
.home-outer .img-wrapper{margin-bottom: 50px;}
.home-outer .left-text-content h1{font-size: 35px !important;}

.home-outer .left-text-content p{font-size: 20px !important;}
.home-outer .btn-block .btns{display: block !important;}
.home-page .collab-us h2 {font-size: 25px !important;line-height: 35px;}
.divisions .text-area h2{font-size:30px !important;}
.video-block .text-wrapper {padding: 50px 25px 0 25px;}
.video-block .text-wrapper .big-text {font-size: 20px !important;line-height: 22px;}
.video-block .text-wrapper p{font-size:13px;}
.feedbacks {padding: 75px 0 290px;}
.mt230 {margin-top: 70px;}
.contact-us h2 {font-size: 30px !important;}
.btm-footer .top .links {margin: 15px 0;}
.btm-footer .top .logo-wrapper img{max-width:80%;}
.contact-us .newsletter h3{font-size:20px !important;}
.contact-us .newsletter .form-group .form-control{height: 55px;font-size:20px !important;padding: 15px;}
.home-page .company-view {margin-top: -160px;}


/*LATEST*/
.transport-page h1{font-size:35px !important;}
.transport-page h2{font-size:25px !important;}
.transport-page .join-us .img-wrapper .img-wrap {width: 130px;height: 130px;}
.transport-page .join-us.shipper .img-wrapper:after {width: 520px;}
.mission-block h2 {font-size: 25px !important;}
}

.carrier_registration{color:#9B51E0; font-weight: bold;}