/*common.css*/
@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Source+Sans+Pro:400,600,700");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");

/*body{font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;color: #1F1F41; background-color: #FAFAFA;font-size: 14px;padding: 0;}*/
body{font-family: 'Poppins', sans-serif;color: #1F1F41; background-color: #FAFAFA;font-size: 14px;padding: 0;}

/*.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family:"Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;}*/
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6{font-family: 'Poppins', sans-serif;}
.wrapper{max-width: 1920px;margin: 0 auto;width: 100%;height: 100%;}
.container{max-width: 1550px;}
a{color: #1F1F41;}
a:hover, a:focus{color: #9B51E0;text-decoration: none;}
h1{color:#1F1F41; font-size: 32px;font-weight: 500;margin: 0 0 30px;text-align: center;}
h2.title{margin-bottom:20px;font-size: 26px;color: #1F1F41;font-weight: 500;}
h3{font-size: 20px;font-weight:600;}
p{color: #707070; margin:0 0 10px;font-size:18px;font-weight:500;}
.color-dark-purple{color: #1F1F41}
.font-12{font-size: 12px;}
.font-14{font-size: 14px;}
.font-16{font-size: 15px;}
.font-18{font-size: 16px;}
.font-20{font-size: 20px;}
.font-22{font-size: 22px;}
.text-white{color: #ffffff;}
.text-grey{color:#B7B7B7;}
.text-black{color: #000000;}
.text-pink{color: #9B51E0 !important;}
.text-green{color: #0db111;}
.form-control::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 16px;
  
}
.form-control::-moz-placeholder { /* Firefox 19+ */
  font-size: 16px;

}
.form-control:-ms-input-placeholder { /* IE 10+ */
  font-size: 16px;
 
}
.form-control:-moz-placeholder { /* Firefox 18- */
  font-size: 16px;
 
}

.btn-black-border{padding:10px 30px;background-color: #ffffff;border:1px solid #1F1F41;border-radius:6px;line-height: 30px;font-size: 19px; font-weight:500;position: relative;z-index: 1;overflow: hidden;}
.btn-black-border:before{content: "";position: absolute;left: 0;top: 0;bottom: 0;margin:0 auto;background-color:#1F1F41;width:0%;transition: all 0.3s;z-index:-1;}
.btn-black-border:hover:before,.btn-black-border:focus:before{width: 100%;}
.btn-black-border:hover{color: #ffffff;}

.btn.focus, .btn:focus{box-shadow: none;}
.black-btn{position:relative;background-color:#1F1F41;padding:20px;text-align: center;border-radius: 15px;font-size: 16px; font-weight:600;color: #ffffff;width: 100%;overflow: hidden;border:none;z-index: 1;}
.registration-form .black-btn:before{content:"";position: absolute;left: 0;right: 0;top: 0;bottom:0;width:30%;background-color:#9B51E0;z-index:-1;border-radius: 15px 0 0 15px;opacity: 1;visibility: visible;}
.black-btn.btn:hover,.black-btn.btn:focus{color: #Ffffff;}
.black-btn:before{content: "";position: absolute;left: 0;right: 0;top: 0;bottom: 0;width: 0%;background-color: #9B51E0;z-index: -1;border-radius: 15px 0 0 15px;opacity: 0;visibility: hidden;transition: all 0.3s;}
.black-btn:hover:before,.black-btn:focus:before{width: 100%;opacity: 1;visibility: visible;}
.registration-form .black-btn.second-step:before{content:"";position: absolute;left: 0;right: 0;top: 0;bottom:0;width:52%;background-color:#9B51E0;z-index:-1;border-radius: 15px 0 0 15px;}
/*.navbar-brand{margin-left: 81px;}*/
.navbar-brand img{max-width: 200px;}



.purple-btn{background-color:#9B51E0;padding:20px 60px 20px 20px;min-width:663px;text-align: center;border-radius: 15px;font-size: 25px; font-weight:600;color: #ffffff;position: relative;margin: 0 auto;}
.purple-btn:hover{color: #ffffff;}
.purple-btn:after{content: "";position: absolute;right: 30px;top: 50%;background-image: url(../images/tick-white.svg);background-size: cover;background-position: center center;width: 31px;height: 21px;transform: translateY(-50%);}
.main-menu{padding:30px 0 25px;transition: 0.5s ease-in-out;z-index: 999;}
.main-menu ul.navbar-nav{align-items: center;}
.main-menu  ul.navbar-nav li{margin: 0 40px 0 0;position: relative;}
.main-menu  ul.navbar-nav li a{position: relative;font-size:16px;font-weight:500;transition: all 0.3s;}
.main-menu ul.navbar-nav li a:after{content: "";position: absolute;width: 0px;height:0px;bottom: 0;left: 0;right:0;margin:0 auto;border-left: 60px solid transparent; border-left: 30px solid transparent;border-right: 30px solid transparent;border-bottom: 8px solid #9B51E0;opacity: 0;visibility: hidden;transition: all 0.3s;}
.main-menu  ul.navbar-nav li a:hover:after{opacity: 1;visibility: visible;}
.main-menu ul.navbar-nav li a.btn-rounded{min-width: 176px;padding:10px;border-radius: 70px;background-color: #1F1F41;line-height: 30px;font-size: 16px; font-weight:normal;position: relative;z-index: 1;border:none;overflow: hidden;}
.main-menu  ul.navbar-nav li a.btn-rounded:before{content: "";position: absolute;left: 0;top: 0;bottom: 0;margin:0 auto;background-color:#9B51E0;width:0%;transition: all 0.3s;z-index:-1;}
.main-menu  ul.navbar-nav li a.btn-rounded:hover:before,.main-menu .navbar-nav ul.nav li a.btn-rounded:focus:before{width: 100%;}
.main-menu ul.navbar-nav li:last-child {margin:0 0 0 20px;}
.main-menu .nice-select{border: none !important;font-weight:500;color: #9B51E0;position: relative;background-color: transparent;}
.main-menu .nice-select:after{width: 10px;height: 10px;margin-top: -8px;border-color: #1F1F41;}
.main-menu .nice-select .list{margin-top: 0px;}
.main-menu .menu-list{display: flex; justify-content: flex-end;}
.main-menu .menu-list .form-group{margin-top: 5px;}*/
.registration-form .left-img img{width: 100%;}
.step-info{position: relative;}
.step-info .personal-details,.step-info .company-details,.step-info .shipping-details{margin: 70px 0;position: relative;}
.navbar-toggler-icon{background-image: url(../images/navbar.svg);}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link{background-color: transparent;}

/*modal*/
.modal-dialog{max-width: 660px;}
.modal-content{border-radius:38px;padding:50px 100px;position: relative;}
.modal-header{border:none;}
.modal-content .close{position: absolute;right: 20px;top: 20px;opacity: 1;}
.modal-content .close span{display: none;opacity: 1;}
.modal-content .close:before{content: "";position: absolute;right: 0px;top: 0;background: url(../images/cancel-black.svg) no-repeat center;width: 25px;height:25px;}
.modal-content .modal-body{text-align: center;padding: 0px;}
.modal-content .modal-body .title{font-size: 25px; font-weight: 500;}
.modal-content .modal-body .verify-block{padding:35px;}
.modal-content .modal-body .verify-block .otps .digit-group input{margin: 0 5px;}
.modal-content .modal-body .verify-block .resend{font-size: 16px;}
.modal-content .modal-body .verify-block  .black-btn{height: auto;line-height: normal;}


/*registration-part-1*/
.step-info .personal-details .text-wrap{padding:0 40px 0 20px;z-index: 1;}
.step-info .personal-details .text-wrap h3{position: relative;background-color: #fafafa;display: inline-block;padding-right: 30px;}
/*.step-info .personal-details ul{margin: 0 -15px;padding: 0;list-style-type: none;width: 100%;justify-content: space-between;background-color: #fafafa;}*/
.step-info .personal-details ul li{position: relative;display: flex;}
/*.step-info .personal-details ul:before{content: "";position: absolute;background: #9B51E0;height: 2px;left: 40%;right: 0;top: 25px;}*/
.step-info .personal-details .icon{width: 50px;height: 50px;/*border: 2px solid #9B51E0;*/background-color: #EBDCF9;border-radius: 50%;position: relative;display: flex;align-items: center;justify-content: center;min-width: 50px;z-index: 2;}

/*.step-info .personal-details ul li:last-child{background-color: #ffffff;position: relative;}*/
.step-info .personal-details ul li:last-child:after{position: absolute;right: 0;background-color: #fafafa;content: "";width: 10px;height: 40px;transform: rotate(90deg);top: 5px;}
/*.step-info .personal-details ul li:nth-child(2) .icon img{opacity:0.20;}*/
.step-info .personal-details ul li .icon img{opacity: 0.20;}
.step-info .personal-details ul li a:after {content: ""; border-bottom: 2px solid #9b51e0; position: absolute; width: 77%; right: 0; top: 25px;}
.step-info .personal-details ul li:last-child a:after {content: none; }
.step-info .personal-details ul li:nth-child(1){width: 60%}
.step-info .personal-details ul li:nth-child(2){width: 30%}
.step-info .personal-details ul li.add-width{width: 84%}
.step-info .personal-details ul li.width-zero{width: 5%}
.step-info .personal-details ul li.personal-detail-width.add-width{width: 64%}
.step-info .personal-details ul li:nth-child(2) .icon,.step-info .personal-details ul li:nth-child(3) .icon{border:2px solid transparent;}
.step-info .form-control{border-bottom: 2px solid #B7B7B7 !important;border:none;border-radius: 0px;height: 60px;padding:10px 20px 40px 61px;font-weight:500;font-size: 18px;background-color: transparent;}
.step-info .form-control::placeholder{color: #1F1F41;}
.step-info form .form-group{position: relative;}
.step-info form .form-group .icon.pass{position: absolute;right: 25px;top: 0;left: auto;}
.step-info form .form-group .icon.verified{position: absolute;right:15px;top: -2px;left: auto;}
.step-info form .form-group .verify{position: absolute;right:0px;top: 0px;border:2px solid #9B51E0;font-size: 14px; font-weight:600;padding:10px;border-radius:25px;min-width: 81px;text-align: center;color: #9B51E0;text-transform: uppercase;transition: all 0.3s;}
.step-info form .form-group .verify:hover{background-color: #9B51E0;border:2px solid transparent; color: #ffffff;}
.step-info form .form-group .icon{position: absolute;left: 10px;top: 0;}
.step-info .personal-details .text-wrap{display: none;}
.step-info .personal-details a.active .text-wrap{display: block;}
/*.step-info .personal-details ul li:nth-child(2) a.active{position: relative;left: -105px;}*/
/*.step-info .personal-details ul li:nth-child(2) a.active:after{content: "";position: absolute;right: 0;top: 0;height: 10px;width: 10px;background-color: #fafafa;}*/
.step-info .personal-details ul li a.active  .icon {border: 2px solid #9B51E0;}
.step-info .personal-details ul li a.active  .icon img{opacity: 1;}
/*.step-info .personal-details ul li:nth-child(3) a.active{position: relative;left: -200px;}*/
/*.step-info .personal-details ul li:nth-child(3) a.active  .icon {border: 2px solid #9B51E0;}
.step-info .personal-details ul li:nth-child(3) a.active  .icon img{opacity: 1;}*/
.step-info form .shipping-form .form-group .icon{left:auto; }

/*registration-part-2*/
.step-info .company-details .text-wrap{padding:0 40px 0 20px;z-index: 1;}
.step-info .company-details .text-wrap h3{position: relative;}
.step-info .company-details ul{margin: 0 -15px;padding: 0;list-style-type: none;width: 100%;justify-content: space-between;background-color: #fafafa;}
.step-info .company-details ul li{position: relative;display: flex;}
.step-info .company-details ul li:before{content: "";position: absolute;background: #9B51E0;height: 2px;left: -105%;right: 0;top: 25px;}
.step-info .company-details .icon{width: 50px;height: 50px;border: 2px solid #9B51E0;background-color: #EBDCF9;border-radius: 50%;position: relative;display: flex;align-items: center;justify-content: center;min-width: 50px;z-index: 2;}
.step-info .company-details ul li:first-child:before{left: 70%;}
.step-info .company-details ul li:last-child{position: relative;}
.step-info .company-details ul li:last-child:after{position: absolute;left: 0;background-color: #Ffffff;height: 2px;width: 20%;top:25px;content: "";right: 0;left: auto;}
.step-info .company-details ul li:nth-child(2){margin-left: -50px;}
.step-info .company-details ul li:nth-child(2):before{left: 70%;}
.step-info .company-details ul li:nth-child(3) .icon{border:2px solid transparent;}
.step-info .company-details ul li:nth-child(3) .icon img{opacity: 0.20;}
.step-info .company-form .form-control{padding-left: 40px;}
.step-info .nice-select{width: 100%;border:none;background-color: transparent;}
.step-info .nice-select ul.list{width: 100%;}
.step-info .nice-select {padding:10px 20px 40px 40px;border-bottom: 2px solid #B7B7B7 !important;border: none;border-radius: 0px;height: 60px;padding: 10px 20px 40px 40px;font-weight: 500;font-size: 18px;background-color: transparent;margin-bottom: 70px;line-height: 10px;}
.step-info .nice-select:after{width: 15px;height: 15px;top:7px;border-color: #1F1F41;}

/*registration-part-3*/
.step-info .shipping-details .text-wrap{padding:0 40px 0 20px;z-index: 1;}
.step-info .shipping-details .text-wrap h3{position: relative;}
.step-info .shipping-details ul{margin: 0 -15px;padding: 0;list-style-type: none;width: 100%;justify-content: flex-start;background-color: #fafafa;}
.step-info .shipping-details ul li{position: relative;display: flex;}
.step-info .shipping-details ul li:before{display: none;}
.step-info .shipping-details .icon{width: 50px;height: 50px;border: 2px solid #9B51E0;background-color: #EBDCF9;border-radius: 50%;position: relative;display: flex;align-items: center;justify-content: center;min-width: 50px;z-index: 2;}
.step-info .shipping-details ul li:last-child:after{position: absolute;left: 0;background-color: #Ffffff;height: 2px;width: 20%;top:25px;content: "";right: 0;left: auto;}
.step-info .shipping-details ul li:nth-child(2){margin-left: -20px;}
.step-info .shipping-details ul li:nth-child(3){margin-left: -20px;}
.step-info .company-form .form-control{padding-left: 40px;}
.step-info .shipping-pro-type .ship-product-type ul.form-control {border-bottom:2px solid #1F1F41 !important;box-shadow: none;border:none;box-shadow: none !important;position: relative;cursor: pointer !important;}
.step-info .shipping-pro-type .ship-product-type ul.form-control:before{content: "";position: absolute;right: 0;top:20px;width:18.7px; height: 10.77px;z-index: 1;background-image: url(../images/caret.svg);}
.step-info .shipping-pro-type .ship-product-type ul.form-control:focus{cursor: pointer !important;}
.registration-form .step-info .shipping-pro-type .ship-product-type ul.form-control li.form-control{border-bottom:none !important;}
.step-info .ship-product-type .form-control{padding: 10px 20px 10px 30px;border:none !important;}
.step-info .ship-product-type{margin-top: 30px;position: relative;}
.step-info .ship-product-type .dropdown-menu[x-placement^=bottom],.step-info .ship-product-type .dropdown-menu[x-placement^=left],.step-info .ship-product-type .dropdown-menu[x-placement^=right],.step-info .ship-product-type .dropdown-menu[x-placement^=top]{column-count: 1 !important;width: 100%;top: 100% !important;}
.step-info .shipping-pro-type .ship-product-type ul.form-control li.badge{padding: 20px !important;background-color: #F3EFF8;border-radius: 30px;margin:10px 5px;min-width: 234px;}
.step-info .shipping-pro-type .ship-product-type ul.form-control li.badge span{color: #1F1F41;font-size: 20px; font-weight: 500;}
.step-info .shipping-pro-type .ship-product-type ul.form-control li.badge .btn-close{background-image: url(../images/cancel.svg);width: 19.57px;height: 19.57px;border:none;background-color: transparent;margin:0 -4px 0 15px;}
.step-info .dropdown-menu {padding:20px 30px !important;}
.step-info .dropdown-menu ul li{padding: 0px !important;font-size: 20px; font-weight:500;margin-bottom: 15px;border-bottom: 1px solid rgba(112,112,112,0.48);}
.step-info .dropdown-menu ul li .form-check{padding: 5px 0 15px 70px;}
.step-info .dropdown-menu ul li:hover,.step-info .dropdown-menu ul li:focus{background-color: transparent;}
.step-info .dropdown-menu ul li .form-check-label:hover{background-color: transparent;}
.step-info .dropdown-menu ul li.bg-light{background-color: transparent !important;}
.step-info .dropdown-menu ul li.text-primary{color: #1F1F41 !important; }
.main-menu ul.form-control{display: none !important;}


.form-check .form-check-input{position: absolute;width: 35px;height: 35px;left: 20px;top: -5px;border-radius: 10px;}
.form-check .form-check-input:before {content: ""; position: absolute; left: 0;top: 0;width: 100%;height: 100%;background: #ffffff url(../) no-repeat center/20px;z-index: 1;border: 1px solid #B4B4B4;border-radius:2px;} 
.form-check .form-check-input:checked:before {background: #ffffff url(../images/tick.png) no-repeat center/20px;}
.form-check .form-check-input{border-radius: 7px;}

/*.form-check .form-check-input:after{content: "";position: absolute;left: 0;top: 50%;background-image: url(../images/tick.png);background-repeat: no-repeat;width: 27px;height: 20px;right: 0;margin: 0 auto;transform: translateY(-50%);z-index: 1;opacity: 0;visibility: hidden;}
.form-check input[type="checkbox"]:checked ~ .form-check-input:after{opacity: 1; visibility:  visible;}*/


.reg-facility-address{background-color: #ffffff;}
.reg-facility-address .form-control{border-bottom: 2px solid rgba(155,81,224,0.20) !important;border:none;border-radius: 0px;height: 60px;padding:10px 20px 40px 40px;font-weight:500;font-size: 18px;background-color: transparent;}
.reg-facility-address .form-control::placeholder{color: #1F1F41;}
.reg-facility-address form .form-group{position: relative;}
.reg-facility-address .shipping-form ul.form-control{display: none !important;}
.reg-facility-address .nice-select {padding: 10px 20px 40px 40px;border-bottom: 2px solid rgba(155,81,224,0.20) !important;border: none;border-radius: 0px;height: 60px;padding: 10px 20px 40px 40px;font-weight: 500;font-size: 18px;background-color: transparent;margin-bottom: 70px;line-height: 10px;width: 100%;}
.reg-facility-address .nice-select:after {border-color: #1F1F41;}
.reg-facility-address .nice-select ul.list{width: 100%;}
.reg-facility-address .icon.location {position: absolute;right: 15px;top: -2px;left: auto;}
.reg-facility-address ul.add-facility{margin: 0;padding: 0;}
.reg-facility-address ul.add-facility li{list-style-type: none;}
.add-facility .form-group {display: block;margin-bottom: 15px;}
.add-facility .form-group input {padding: 0;height: initial;width: initial;margin-bottom: 0;display: none;cursor: pointer;}
.add-facility .form-group label {position: relative;cursor: pointer;font-size: 18px;font-weight: 500;}
.add-facility .form-group label:before {content: ''; -webkit-appearance: none; background-color: transparent; border: 1px solid rgba(112,112,112,0.50); padding: 12px; display: inline-block; position: relative; vertical-align: middle; cursor: pointer; margin-right: 20px; border-radius: 6px; } 
.add-facility .form-group input:checked + label:after {content: ''; display: block; position: absolute; top: 50%; left: 5px; width: 26px; height: 19px; background-image: url(../images/tick-pink.svg); background-size: cover; right:0;bottom: 0;transform: translateY(-50%);}

.add-another{align-items: center;} 
.add-more .text{padding-left: 10px;font-size: 24px;font-weight:600;color:#9B51E0;}

.terms-conditions .text {font-size: 25px; font-weight:500;display: block;}
.terms-conditions .form-group {display: block;margin-bottom: 15px;}
.terms-conditions .form-group input {padding: 0;height: initial;width: initial;margin-bottom: 0;display: none;cursor: pointer;}
.terms-conditions .form-group label {position: relative;cursor: text;font-size: 22px;font-weight: 500;padding-left: 40px;}
.terms-conditions .form-group label:before {content: ''; -webkit-appearance: none; background-color: transparent; border: 1px solid rgba(112,112,112,0.50); padding: 12px; display: inline-block; position: absolute; vertical-align: middle; cursor: pointer;border-radius: 6px; left: 0px;top: 5px;} 
 .terms-conditions .form-group input:checked + label:after {content: ''; display: block; position: absolute; top: 5px; left: 5px; width: 26px; height: 19px; background-image: url(../images/tick-pink.svg); background-size: cover; right:0;}
 .terms-conditions .form-group p{color: rgba(31,31,65,0.30);font-size: 22px;font-weight: 500;}

.main-container{background-color: #FFFFFF;margin: 70px -50px 0;padding:70px 70px 80px;}
.bottom-container{margin:0 -50px;}

/*.dropdown-menu ul li label img {position: absolute; background-color: white; opacity: 0; visibility: hidden; transition:  0.1s ease-in;}
.form-check-input[type="checkbox"]:checked ~ img{opacity: 1; visibility:  visible;}

.form-check {display: block;margin-bottom: 15px;}
.form-check input {padding: 0;height: initial;width: initial;margin-bottom: 0;display: none;cursor: pointer;}*/

ul.wizard li a.black-btn{margin-top: 30px;}
ul.list-inline.wizard{position: absolute;bottom: -70px;right: 0;}


/*sign-in*/
.sign-page{position: relative;}
.sign-page .sign-in-side{padding:70px 45px 0 30px;}
.nav-tabs{border:none;}
.nav-tabs .nav-link{border-bottom: 1px solid transparent;border:none;font-size: 18px;font-weight: 400;padding:15px 35px;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{background-color: transparent;border-bottom: 4px solid #9B51E0 !important;border-color: transparent;}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{border-color: transparent;}
.nav-pills>li>a, .nav-tabs>li>a {color: #1F1F41;}
.nav-tabs .nav-item.show .nav-link, .nav-tabs .nav-link.active{color:#9B51E0; font-weight:700;}
.form-control{border-bottom: 2px solid #B7B7B7 !important; border: none; border-radius: 0px; height: 60px; padding: 10px 20px 40px 61px; font-weight: 500; font-size: 18px; background-color: transparent;}
.form-control:focus{background-color: transparent;}
.form-control::placeholder{color: #000000;}
.tab-content{padding: 0px;}
.sign-in-side .tab-content .form-group{position: relative;}
.sign-in-side .tab-content .form-group .icon{position: absolute;right: 40px;top: 0;}
.sign-in-side .tab-content .form-group .form-control{font-weight: 500;padding:10px 20px 40px 40px;}
.sign-in-side .forgot{text-decoration: underline;color: rgba(31,31,65,0.60);}
.sign-in-side .tab-content .black-btn{text-transform: uppercase;margin-bottom: 55px;}
.sign-in-side .text{color: #1F1F41;font-size: 18px; font-weight:500;}
.sign-in-side .send-otp{margin: 150px 0 75px;}
.sign-in-side .otps .form-control{border: none; border-radius: 0;border-bottom: 2px solid #9B51E0 !important;margin: 0 7px;text-align: center;font-size: 15px;font-weight: 500;padding: 0;}
.sign-in-side .verify-otp{margin-top:50px;}
.sign-in-side .verify-otp .black-btn{min-width: 550px;width: auto;margin:0 auto;}
.download-app ul{padding: 0px;}
.download-app ul li{list-style-type: none;margin: 0 10px;}
.download-app ul li a{display: flex;justify-content: center;align-items: center;background-color: #ffffff;padding:10px 15px;border-radius: 10px;}
.download-app ul li a .text-wrapper {text-align: left;padding-left: 20px;font-size: 24px;font-weight: 600;}
.download-app ul li a .text-wrapper  em{display: block;font-style: normal;color: #666666;font-size: 12px;font-weight: 400;margin-bottom: -5px;}
.download-app ul li a:hover .text-wrapper{color: #9B51E0;}
.download-app ul li a:hover .text-wrapper em{color: #9B51E0;}
.sign-in-side .resend{padding:30px 40px 0 0;}
.digit-group{text-align: center;}
.digit-group input{width: 50px; height: 50px; background-color: transparent; border: none; border-bottom:1px solid #9B51E0;line-height: 50px; text-align: center; font-size: 24px; margin: 0 20px; }
.digit-group input:hover,.digit-group input:focus{outline: none;}
.sign-page{position: relative;overflow: hidden;overflow-y: auto;}
.sign-page .img-wrapper img{max-width: 95%;}
.sign-in-side .verification .big-text{font-size: 42px; font-weight: 500;margin-bottom: 20px;}
.sign-in-side .verification p{font-size: 20px; font-weight: 500;color: #1F1F41;}
.sign-in-side .verification .purple-btn{background-color: transparent;border :2px solid #9B51E0;color: #9B51E0;}
.sign-in-side .verification .purple-btn:before{content: "";position: absolute;left: 0;right: 0;top: 0;border-radius:15px;bottom: 0;width: 0;height:100%;opacity: 0;background-color: #9B51E0;visibility: hidden;transition: 0.3s linear;z-index: -1;}
.sign-in-side .verification .purple-btn:hover{border:2px solid transparent;color: #ffffff;}
.sign-in-side .verification .purple-btn:hover:before{width:100%;color: #ffffff;opacity: 1;visibility: visible;}
.sign-in-side .verification .purple-btn:after{display: none;}
.forgot-block .form-group {position: relative;}
.forgot-block .form-group .icon{position: absolute;right: 30px;}
.sign-in-side .black-btn{text-transform: uppercase;}
.sign-in-side .verification .purple-btn{padding: 20px;min-width: auto;width: 100%;}

/*login-modal*/
/*.radio-popup .modal-dialog{max-width: 689px;}
.radio-popup .modal-content{padding: 50px 150px;}*/
.radio-popup .modal-dialog{max-width: 570px;}
.radio-popup .modal-content{padding: 50px 120px;}

.radio-popup .modal-content .modal-body .title{font-size: 24px; font-weight:600;}
/*.radio-popup .radio-block .radio{padding: 15px 30px;background-color: rgba(155,81,224,0.12);border-radius:34px;}*/
.radio label{padding-left: 25px;font-size:16px;font-weight: 600;}
.radio-block .radio label::after{background-color: #9B51E0;width: 17px;height: 17px;left: 8px;top: 6px;}
.radio-block .radio label::before{width: 29px;height: 29px;border: 1px solid #707070;}
.radio-block .black-btn{height: auto;line-height: normal;}
.radio-block .radio{ padding: 15px 40px;line-height: normal;}
.radio-block .radio.active{background-color: rgba(155,81,224,0.12);border-radius: 34px;}

/*footer*/
.btm-footer{padding-top: 140px;}
.btm-footer .top{padding: 60px 0 0;}
.btm-footer .top .container > .row{position: relative;padding-bottom: 60px;}
.btm-footer .top .container > .row:after{content: "";position: absolute;bottom: 0;left: 0;right: 0;margin: 0 auto;background-color: #DCDCDC;height: 1px; width: calc(100% - 20px);}
.btm-footer .top .logo-wrapper{margin-bottom:30px;}
.btm-footer .top .text{font-size: 18px;color: #5D5D5D;line-height: 30px;}
.btm-footer .top .links h3{font-weight: 700;margin-bottom:40px;}
.btm-footer .top .links ul{margin:0;padding: 0;}
.btm-footer .top .links ul li{list-style-type: none;margin:0 0 15px;}
.btm-footer .top .links ul li a{color:#080809;}
.btm-footer .top .links ul li a:hover{color: #9B51E0;}
.btm-footer .bottom{padding:30px 0 15px;}
.btm-footer .bottom .copyright{color: #5D5D5D;}
.btm-footer .bottom ul{margin: 0;padding: 0;}
.btm-footer .bottom ul li{list-style-type: none;margin: 0 8px;}
.btm-footer .bottom ul li:last-child{margin: 0px;}


/*navbar-custom*/
.navbar-custom{background-color: #ffffff;padding:11px 7px;height: auto;align-items: center;display: flex;justify-content: space-between;position: fixed;top: 0;}
.left-side-menu{top: 72px;background-color: #1F1F41;}
.navbar-custom .app-search .form-control{padding: 10px;border: none !important;}

.notification-list .noti-icon-badge{top: -7px;right:8px;}
.badge-danger{background-color: #C90606;border:2px solid #ffffff;}
/*.nav-user img{height: auto;width: auto;}*/

#sidebar-menu .menu-arrow{position: absolute;right: 30px;}
#sidebar-menu .menu-arrow:before{display: none;}
#sidebar-menu>ul>li>a{font-family: 'Poppins', sans-serif;font-size: 15px; font-weight:500;color: #ffffff;}
#sidebar-menu>ul>li>a:active, #sidebar-menu>ul>li>a:focus, #sidebar-menu>ul>li>a:hover{color: #ffffff;}
.nav-second-level li a:focus, .nav-second-level li a:hover, .nav-thrid-level li a:focus, .nav-thrid-level li a:hover{color: #ffffff;}
#sidebar-menu ul li .menu-arrow {-webkit-transform: rotate(180deg) !important;transform: rotate(180deg) !important;top:20px !important;}
#sidebar-menu ul li.active .menu-arrow {-webkit-transform: rotate(0deg) !important; transform: rotate(0deg) !important; top: 12px !important;}
#sidebar-menu ul li a img{width: 20px;}
#sidebar-menu>ul>li>a i.dashboard{position:relative;width: 22px;height: 22px;}
#sidebar-menu>ul>li>a i.dashboard:before{content: "";position: absolute;left: 0;top: 0;background-image: url(../images/assets/dashbord/dashboard.svg);width: 23px;height: 23px;}
#sidebar-menu > ul > li a .icon{width: 30px;height: 30px;}
#sidebar-menu > ul > li > a{align-items: center;}
.profile-dropdown{width: 274px;border-radius:34px;padding:17px;}
.profile-dropdown ul{margin: 0px;padding: 0;}
.profile-dropdown ul li{list-style-type: none;padding:10px;border-bottom:1px solid rgba(112,112,112,0.48);}
.profile-dropdown ul li a{padding: 0px;font-size: 16px;font-weight:500;color:#1F1F41;}
.profile-dropdown ul li:last-child{border-bottom: none;}
.notification-list .profile-dropdown .notify-item{padding: 0px;}
.notification-list .dropdown-item:focus,.notification-list  .dropdown-item:hover{background-color: transparent;}
ul.topnav-menu li a .pro-user-name{font-size: 16px;font-weight:700;color: #1F1F41;}
ul.topnav-menu .badge{padding: 3px; font-size: 10px; font-weight: 400; width: 18px; height: 18px; line-height: 10px;}
.logo-box{height: auto;}
.logo{line-height: normal;}
.logo img{width: 150px;}

/*.navbar-custom .topnav-menu .nav-link{max-height: 100%;}*/
ul.topnav-menu li a.shipment{display: flex;background-color:#1F1F41;padding:9px !important;border-radius:6px;align-items: center;display: flex !important;align-items: center;}
ul.topnav-menu li a.shipment img{width: 20px;}
.navbar-custom ul.topnav-menu li a.nav-link{line-height: normal;}
.navbar-custom ul.topnav-menu li a.nav-link .text{color: #ffffff;font-size:14px;font-weight:500;}

#sidebar-menu .nav-second-level li:hover, #sidebar-menu .nav-second-level li.active{  background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.31),rgba(255,255,255,0.40));}
#sidebar-menu .nav-second-level li.active a{color: #Ffffff;}
#sidebar-menu>ul>li>ul{padding-left: 0px;}
#sidebar-menu .nav-second-level li{padding-left: 40px;}
#sidebar-menu ul li a ul li a{color: rgba(255,255,255,0.50);font-size:18px;}

.navbar-custom .app-search{display: flex;height: auto;max-width: 476px;margin: 0px;border-left: 1px solid #B8B8B8;margin-left: 10px;}
ul.topnav-menu.search-bar{border: 1px solid rgba(112,112,112,0.18);border-radius: 35px;padding: 5px 20px;margin-left: 100px !important;}
ul.topnav-menu.search-bar li a{font-size: 16px; font-weight: 500;padding: 0px;color:rgba(112,112,112,0.74) !important;}
.navbar-custom .app-search .form-control{color: #1F1F41;}
.navbar-custom .app-search .form-control::placeholder {color: rgba(8,8,9,0.40) !important;font-size: 20px !important;}
.navbar-custom .app-search .form-control{font-weight:500;}
.navbar-custom .app-search .btn{padding: 0px;}

.navbar-custom ul.topnav-menu.search-bar li a.nav-link{padding: 0px;}
.navbar-custom .dropdown.show .nav-link{background-color: transparent;}
ul.prev{position: fixed;bottom: 80px;z-index: 99;left:167px;transition: all 0.3s;}
 .enlarged ul.prev{left: -25px;transition: all 0.3s;}
 ul.prev .button-menu-mobile{height: 35px;width:35px;position: relative;border: none;background-color: transparent;}
ul.prev .button-menu-mobile:before{content: "";position: absolute; background-image: url(../images/assets/dashbord/prev.svg);width:34px;height:24px; left: 0;right: 0;margin: auto;top: 0;background-repeat: no-repeat;}
ul.prev li{list-style-type: none;}


#language #language-bar{background-color: transparent;color:#9B51E0;padding-right: 30px;position: relative;    font-size: 16px;font-weight: 500}
#language #language-bar:before{content: "";position: absolute;right: 0;background-image: url(../images/assets/dashbord/caret.svg);width: 15px;height: 8px;background-repeat: no-repeat;top: 15px;background-size: contain;}
#language .dropdown.show #language-bar:before{transform: rotate(180deg);}
#language .radio-block .radio.active{background-color: transparent;border-radius:0;}
#language .dropdown-menu{background-color: #ffffff;border-radius: 20px;padding: 20px; box-shadow: 0 3px 10px 0 rgb(0 0 0 / 16%); -webkit-box-shadow:0 3px 10px 0 rgb(0 0 0 / 16%);left:-70px;margin-top: 10px;}
#language .radio-block .radio{padding: 0px;}
#language .radio-block .radio.first{border-bottom: 1px solid rgba(112,112,112,0.48);margin-bottom:20px !important;padding-bottom: 20px;}

.navbar-custom ul.topnav-menu #language .dropdown-menu{left:-83px !important;}


ul.search-bar > li ul{margin: 0px;padding: 0px;}
ul.search-bar > li .dropdown-menu{border-radius: 34px;padding:25px 20px 20px 30px;box-shadow: 0 3px 10px 0 rgb(0 0 0 / 16%);-webkit-box-shadow: 0 3px 10px 0 rgb(0 0 0 / 16%);width: 256px;left: 80px !important;}
ul.search-bar > li ul li{list-style-type: none;}
ul.search-bar > li ul li:last-child{border-bottom: 1px solid transparent !important;margin-bottom:0px !important;}
ul.search-bar > li ul.radio-block .radio.active{background-color: transparent;border-radius: 0px;}
ul.search-bar > li ul.radio-block li.radio{padding: 0px;border-bottom:1px solid rgba(112,112,112,0.48);}
.dropdown-menu.profile-dropdown.show{top: 88%!important;right:0 !important;}
/*.content-page {margin-left: 260px;overflow: hidden;padding: 20px;min-height: 80vh;margin-top: 69px;}*/
.navbar-custom .topnav-menu>li .notify{/*padding-top: 10px;*/top: 0px;position: relative;}
.navbar-custom .topnav-menu>li .notify img, .navbar-custom .topnav-menu>li .message-icon img{width: 20px;}
.navbar-custom .dropdown-toggle{white-space: inherit;}
.search-area {background:#ffffff; height: 40px; border-radius: 30px; padding: 10px; display: none; position: absolute; right: -25px; z-index: 99; top:3px;border:1px solid #1F1F41;}
.search-btn {color: white; float: right; width: 30px; height: 30px; border-radius: 50%; display: flex; justify-content: center; align-items: center; transition: 2s; position: absolute; right: -4px; top: 5px;}
.search-btn:before{content:"";position: absolute;top: 0;bottom: 0;background-image: url(../images/assets/dashbord/search.svg);background-repeat: no-repeat;width: 23px;height:23px;}
.search-input {border: none; background: none; outline: none; float: left; padding: 0; color: white; font-size: 20px; transition: 0.4s; line-height: 50px; width: 0; }
.search-area:hover > .search-input {width: 300px; padding: 0 7px;}
#sidebar-menu>ul>li>a.active{color: #ffffff;}




/*my-profile-page*/
.my-profile .edit-block h3{font-weight: 700;position: relative;padding-left: 20px;}
.my-profile .edit-block h3:before{content: "";position: absolute;left:0;top: 50%;transform: translateY(-50%);background-image: url(../images/assets/my-profile/rating.png);background-repeat: no-repeat;width: 15px;height:14px;}
.my-profile .edit-block h3 span{font-size:18px;font-weight:400;margin-left: 5px;}
.my-profile .item-container .form{padding-left:30px;}
.my-profile .form-control{color: #1F1F41;padding: 0px;height: auto;border-bottom:2px solid #1F1F41 !important;font-size:16px;}
.my-profile .item-container .rate{padding-left:20px;}
.my-profile .item-container .rate .text{font-size:24px;font-weight: 700;}
.my-profile .item-container .rate ul li{list-style-type: none;}
.my-profile .progress-step .steps .color{width: 324px;margin-right:20px;}
.my-profile .progress-step .steps .color1{width:100%;background-color: #9B51E0;height:34px;}
.my-profile .progress-step .steps .color2{width:80%;background-color: rgba(155,81,224,0.71);height:34px;}
.my-profile .progress-step .steps .color3{width:60%;background-color: rgba(155,81,224,0.49);height:34px;}
.my-profile .progress-step .steps .color4{width:40%;background-color: rgba(155,81,224,0.32);height:34px;}
.my-profile .progress-step .steps .color5{width:20%;background-color: rgba(155,81,224,0.15);height:34px;}
.my-profile .reviews .text{font-weight:500;color:rgba(31,31,65,0.80);}
.my-profile .item-container .media img{border-radius:10px;}
.my-profile .item-container .media-body .info h5{margin: 0px;font-weight:600;color: #100F0F;}
.my-profile .item-container .media-body ul li{list-style-type: none;}
.my-profile .item-container .media-body .time{color: rgba(0,0,0,0.50);}
.my-profile .item-container .media-body .time .divider{margin:0 10px;}
.my-profile .item-container .media-body p{font-weight:400;}
.my-profile .reviews .show-all a.text-pink{font-weight:500;}
.my-profile .reviews .show-all a.text-pink:hover,.my-profile .reviews .show-all a.text-pink:focus{color:#9B51E0 !important;}


/*settings-page*/
.settings-block .request-block p{font-weight:600;}
.settings-block .request-block .black-btn{min-width:240px;padding:10px;height: auto;width: auto;border-radius:7px;line-height: 40px;}
.settings-block .request-block .black-btn:before{border-radius:7px;}
.settings-block hr{margin:50px 0 40px;border: 1px solid #B7B7B7;}
.settings-block .notificaton-block .text{font-weight:600;}

/*more-product-master*/
.more .breadcrumb li.breadcrumb-item{margin: 0 20px;position: relative;}
.more .breadcrumb li.breadcrumb-item:first-child{margin-left: 0px;}
.more .breadcrumb li.breadcrumb-item.active {position: relative;}
.more .breadcrumb li.breadcrumb-item+.breadcrumb-item::before{content:"";position: absolute;left:-20px;top:50%;background-image:url(../images/assets/dashbord/next.svg);width:7px; height: 13px;background-repeat: no-repeat;transform: translateY(-50%);}
.more .breadcrumb li.breadcrumb-item:first-child:before{content:"";position: absolute;left:0;top:0;background-image:}
.more .breadcrumb li.breadcrumb-item:first-child a{padding-left:35px;position: relative;}
.more .breadcrumb li.breadcrumb-item:first-child a img{position: absolute;left: 0px;}
.breadcrumb-item>a{color: #1F1F41;font-weight:500;}
.breadcrumb-item.active{color: #1F1F41;font-weight:500;}


.more a.add-product{background-color: #1F1F41;padding: 7px 20px !important;border-radius: 6px;align-items: center;float: right;color: #ffffff;}

.form-control{padding: 15px 20px 15px 20px;}


#view-details .modal-dialog{max-width: 700px;}
#view-details .modal-content{padding:50px 60px;box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.28);-webkit-box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.28);-moz-box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.28);}
#view-details .modal-body .edits .icon-block a.icon-delete, #view-details .modal-body .edits .icon-block a.icon-pen{background-color: #1F1F41;width: 33px; height:33px; border-radius:6px;margin: 0 10px;position: relative;}
#view-details .modal-body .edits .icon-block a.icon-delete{margin-right: 10px !important;}
#view-details .modal-body .title{font-weight:600;}
#view-details .modal-content .modal-body{text-align: left;}
#view-details .modal-content .modal-body .form-control{padding:0 0 10px;height: auto;}
#view-details .modal-content .modal-body label{font-size:14px;font-weight:400;}
#view-details .modal-content .close{background-color: transparent;border: 1px solid #B7B7B7;position: relative;top: auto;right: auto;color: #1F1F41;}
#view-details .modal-content .close:before{display: none;}
#view-details .modal-content .black-btn{height: auto;line-height: normal;border-radius:7px;font-weight:500;}
#view-details .modal-content .btn{padding: 5px;}
#view-details .close:not(:disabled):not(.disabled):focus,#view-details .close:not(:disabled):not(.disabled):hover{opacity: 1;}
#view-details .modal-content .black-btn:before{display: none;}



/*.add-more-products .modal-dialog{max-width: 700px;}*/
 /*.add-more-products .modal-content{padding:50px 60px;box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.28);-webkit-box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.28);-moz-box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.28);}*/
.add-more-products .modal-body .edits .icon-block a.icon-delete, .add-more-products .modal-body .edits .icon-block a.icon-pen{background-color: #1F1F41;width: 33px; height:33px; border-radius:6px;margin: 0 10px;position: relative;}
.add-more-products .modal-body .edits .icon-block a.icon-delete{margin-right: 10px !important;}
.add-more-products .modal-body .title{font-weight:600;}
.add-more-products .modal-content .modal-body{text-align: left;}
.add-more-products .modal-content .modal-body .form-control{padding:0 0 10px;height: auto;}
.add-more-products .modal-content .modal-body label{font-size:14px;font-weight:400;}
.add-more-products .modal-content .close{background-color: transparent;border: 1px solid #B7B7B7;position: relative;top: auto;right: auto;color: #1F1F41;}
.add-more-products .modal-content .close:before{display: none;}
.add-more-products .modal-content .black-btn{height: auto;line-height: normal;border-radius:7px;font-weight:500;}
.add-more-products .modal-content .btn{padding: 5px;}
.add-more-products .close:not(:disabled):not(.disabled):focus,.add-more-products .close:not(:disabled):not(.disabled):hover{opacity: 1;}
.add-more-products .modal-content .black-btn:before{display: none;}


/*delete-permanently*/
.delete .modal-dialog{width: 560px;}
.delete .modal-content{padding:60px 40px;}
.delete .modal-content .close:before{display: none;}
.delete .modal-content .black-btn{height: auto;line-height: normal;border-radius:7px;font-weight:500;}
.delete .modal-content .btn{padding: 5px;}
.delete .modal-content .close{background-color: transparent;border: 1px solid #B7B7B7;position: relative;top: auto;right: auto;color: #1F1F41;}
.delete .modal-body .title .red{color: #D56969;} 
.delete .modal-content {box-shadow: 3px 5px 15px 0px rgb(0 0 0 / 28%);-webkit-box-shadow: 3px 5px 15px 0px rgb(0 0 0 / 28%);-moz-box-shadow: 3px 5px 15px 0px rgba(0,0,0,0.28);}
.delete .black-btn:before{display: none;}
.close:not(:disabled):not(.disabled):focus,.close:not(:disabled):not(.disabled):hover{opacity: 1;}



/*home-page-css*/
body.outer{height:100%;overflow-y: visible;}
.font-24{font-size: 22px !important;}
.font-76{font-size: 76px !important;}
.font-25{font-size: 25px !important;}
.font-43{font-size: 43px !important;}
.font-53{font-size: 53px !important;}
.font-30{font-size:30px !important;}
.font-weight-400{font-weight:400;}
.font-weight-500{font-weight:500;}
.font-weight-600{font-weight:600;}
.dark-purple{color: #1F1F41;}
.bg-dark-purple{background-color: #1F1F41;}
.bg-light-grey{background-color:rgba(112,112,112,0.07);}
.btn-black-cust {max-width: 362px; line-height: 20px;z-index: 1; overflow: hidden;border:1px solid #1F1F41;}
.btn-black-cust:hover,.btn-black-cust:focus{color: #ffffff;}
.btn-black-cust:before {content: ""; position: absolute; left: 0; top: 0; bottom: 0; margin: 0 auto; background-color: #1F1F41; width: 0%; transition: all 0.3s; z-index: -1;}
.btn-black-cust:hover:before, .btn-black-cust:focus:before {width: 100%;}
.home-outer .left-text-content:before{content: "";position: absolute;left: -25px;top:-72px;background-image: url(../../images/home-page/join-path.svg);background-repeat: no-repeat;width:103px;height:114px;}
.home-outer .left-text-content p{color: #5D5D5D;}
.home-outer .left-text-content .btn-black-cust{color: #ffffff;}
.home-outer .left-text-content .btn-black-cust:before{width: 100%;}
.home-outer .btn-block{position: relative;margin-top: 100px;}
.home-outer .btn-block:before{content: "";position: absolute;right: 70px;top:-72px;background-image: url(../../images/home-page/join-path.svg);background-repeat: no-repeat;width:103px;height:114px;}


/*collab-us-css*/
.home-page .collab-us{background-image: linear-gradient(to bottom, rgba(112,112,112,0), rgba(56,56,56,0.07),rgba(56,56,56,0.09));padding-bottom: 215px;}
.home-page .collab-us h2{line-height: 55px;}
.home-page .collab-us p{width: 660px;}

/*company-view-css*/
.home-page .download-us ul li a{box-shadow: 0 0px 0px 0 rgb(0 0 0 / 10%); -webkit-box-shadow:0 0px 0px 0 rgb(0 0 0 / 10%); border-radius: 10px;}
.home-page .download-us ul li a .text-wrapper{font-weight:600;}
.home-page .download-us ul li a .text-wrapper em{font-style: normal;color: #666666;}
.home-page .company-view{margin-top:-250px;}

/*try-free-block-css*/
.try-free-block .block{transition: linear 0.3s;background-color: transparent;}
.try-free-block .block .icon{min-width:80px;width: 80px;height: 80px;border:2px solid #1F1F41;}
.try-free-block .block .text-wrapper span{font-weight:500;}
.try-free-block .block:before{content: "";position: absolute;right: -30px;bottom:-30px;background-image: url(../../images/home-page/join-path.svg);background-repeat: no-repeat;width:103px;height:114px;opacity: 0;visibility: hidden;z-index: -1;}
.try-free-block .block:hover,.try-free-block .block:focus{background-color: #ffffff;box-shadow: 0 0px 50px 0 rgb(0 0 0 / 5%); -webkit-box-shadow:0 0px 50px 0 rgb(0 0 0 / 5%);}
.try-free-block .block:hover:before{opacity: 1;visibility: visible;}
.try-free-block .btn-black-cust:before{width:100%;}

/*divisions*/
.divisions .bg-dark-purple .img-wrapper{margin-left:-75px;}
.divisions .bg-light-grey .img-wrapper{margin-right: -75px;}
.divisions .bg-dark-purple .text-area p{color: #C4C4C4;}
.divisions .bg-light-grey .text-area p{color: #707070;}
.divisions .text-area a.learn-more{border-radius:10px;box-shadow: 0 0px 100px 0 rgb(0 0 0 / 10%); -webkit-box-shadow:0 0px 100px 0 rgb(0 0 0 / 10%);}
.divisions .text-area a.learn-more:hover,.divisions .text-area a.learn-more:focus{color: #1F1F41 !important;}

/*feedbacks*/
.feedbacks{padding-bottom: 260px;}
.feedbacks h2:before{content: "";position: absolute;left:-20px;top:-40px;background-image: url(../../images/home-page/quote.svg);background-repeat: no-repeat;width: 96px;height:82px;}
.feedback-slider .item{min-height:630px;box-shadow: 0 0px 50px 0 rgb(0 0 0 / 5%); -webkit-box-shadow:0 0px 50px 0 rgb(0 0 0 / 5%);}
.feedback-slider .item:before{content: ""; position: absolute; left:-35px; top:-35px; background-image: url(../../images/home-page/join-path.svg); background-repeat: no-repeat; width: 103px; height: 114px;z-index: -1;}
.feedback-slider .item ul li{list-style-type: none;margin:0 5px;}
.feedback-slider .item p{color: rgba(0,0,0,0.72);line-height: 40px;}
.feedback-slider {margin-top: -350px !important;}
.feedback-slider .item .text-wrapper .name{font-weight: 600;}
.feedback-slider .item .text-wrapper .post{color: rgba(112,112,112,0.74);}
.feedback-slider.owl-carousel .owl-dots.disabled,.feedback-slider.owl-carousel .owl-nav.disabled{display: block;}
.feedback-slider .owl-nav{position: absolute;top: -60px;right:0;}
.feedback-slider .owl-nav .owl-prev,.feedback-slider .owl-nav .owl-next{width: 54px;height:54px;border:1px solid #9B51E0 !important;margin: 0 10px;position: relative;transition: all 0.3s;}
.feedback-slider .owl-nav .owl-prev:before{content: "";position: absolute;left:0;right:0;top:30;width:24px;height:17px;margin:0 auto;background-image: url(../../images/home-page/left-arrow.svg);background-repeat: no-repeat;transform: translateY(-50%);}
.feedback-slider .owl-nav .owl-next:before{content: "";position: absolute;left:0;right:0;top:30;width:24px;height:17px;margin:0 auto;background-image: url(../../images/home-page/right-arrow.svg);background-repeat: no-repeat;transform: translateY(-50%);}
.feedback-slider .owl-nav .owl-prev span,.feedback-slider .owl-nav .owl-next span{display: none;}
.feedback-slider .owl-nav .owl-prev:hover:before{background-image: url(../../images/home-page/left-arrow-white.svg);}
.feedback-slider .owl-nav .owl-next:hover:before{background-image: url(../../images/home-page/right-arrow-white.svg);}
.feedback-slider .owl-nav .owl-prev:hover,.feedback-slider .owl-nav .owl-next:hover{background-color: #9B51E0;}
.mt230{margin-top: 230px;}

/*contact-us*/
.contact-us{padding-top:100px;background-color: rgba(112,112,112,0.07);}
.contact-us .form-group .form-control{height:60px;padding:20px;background-color: #FFFFFF;border-bottom: none !important;}
.contact-us .form-group .form-control::placeholder{color: #1F1F41;opacity:0.5;}
.contact-us .form-group textarea.form-control{min-height:190px}
.contact-us form a.btn-black-cust:before{width: 100%;}
.contact-us form a.btn-black-cust{max-width: 240px;}
.contact-us .newsletter{margin:170px 0 -100px 0;}
.contact-us .newsletter h3{font-weight:500;color: rgba(0,0,0,0.50);}
.contact-us .newsletter .form-group .form-control{border:1px solid rgba(77,77,77,0.30) !important;height:72px;font-weight:500;}
.contact-us .btn-black-cust:before{width: 100%;}
.contact-us .btn-black-cust{color: #ffffff;}

.imgvideo {cursor: pointer; }
.playbutton {background: url(../../images/home-page/play-icon.svg) center center no-repeat; position: absolute; top: 50%; left: 50%; width: 128px; height: 128px; margin: 35px 0 0 -64px; z-index: 10;}
.ytvideo {position: absolute;margin: 0; padding: 0; background-position: center; background-size: contain; background-repeat: no-repeat; -webkit-background-size: cover;background-size: cover;cursor: pointer;height: 100%;top:0;left:0;right:0;bottom:0;z-index: 999;}
.ytvideo iframe {border-style: none;height: 100%;width: 100%;}

.ytvideo .seo {display: none;}
.video-block{background-size: cover;height:920px;position: relative;}
.video-block:before{content: "";position: absolute;left: 0;right:0;top: 0;bottom: 0;margin:0 auto;background-color: rgba(0,62,43,0.33);z-index: 1;width: 100%;height:100%;}
.video-block .text-wrapper{z-index: 9;padding:180px 90px 0 90px;}

.divisions{overflow: hidden;}
.contact-us .owl-dots{display: none;}

.select2-container--default .select2-selection--single{border: none;
    border-bottom: 1px solid #202042;
    border-radius: inherit;}





@media screen and (max-width: 992px)
{
.btn-black-cust {max-width: 100%;}
.feedbacks {padding-bottom: 260px; padding-left: 50px; padding-right: 50px;}
.home-outer .container {padding-right: 30px; padding-left: 30px;}
.home-outer .left-text-content:before {top: -50px;}
}
@media screen and (max-width: 992px)
{
.newsletter .col-lg-4{padding-top: 20px;}
}

/*carrier-page*/
.transport-page .money-with-us{height:900px;margin-top:-176px;padding-bottom: 150px;overflow:hidden;}
.transport-page .money-with-us:before{content: "";position: absolute;left:0;right:0;top:0;bottom:0;background-color:rgba(255,255,255,0.60);background: linear-gradient(to bottom, rgba(255,255,255,0.60) 0%, rgba(249,249,249,1) 100%);z-index: 1;}
.transport-page .money-with-us:after{content: "";position: absolute;right:-30px;bottom:0px;width: 103px;height:114px;background:url(../images/home-page/join-path.svg) no-repeat;z-index: 1;opacity: 0.50;}
.transport-page .money-with-us .content-center{max-width:800px;z-index: 5;}
.transport-page .money-with-us .content-center:before{content: "";position: absolute;left:0;top:-24px;width: 103px;height:114px;background:url(../images/home-page/join-path.svg) no-repeat;z-index: -1;opacity: 0.50;}
.transport-page .money-with-us .content-center .btn-black-cust{color: #ffffff;}
.transport-page .money-with-us .content-center .btn-black-cust:before{width: 100%;color: #ffffff;}
.transport-page .money-with-us .content-center p.last{color: rgba(0,0,0,0.33);}

.transport-page .features-area{background-color:rgba(112,112,112,0);background: linear-gradient(to bottom, rgba(112,112,112,0) 0%, rgba(56,56,56,0.07) 100%);}
.transport-page .features-area .block{transition: linear 0.3s;background-color: transparent;}
.transport-page .features-area .block .icon{min-width:80px;width: 80px;height: 80px;border:2px solid #1F1F41;}
.transport-page .features-area .sign-up{box-shadow: 0 0px 100px rgb(0 0 0 / 10%) !important;border-radius:10px;}
.transport-page .features-area ul.nav-tabs li{margin: 0 15px;}
.transport-page .features-area ul.nav-tabs li .nav-link{font-weight:600;color:#B7B7B7;}
.transport-page .features-area ul.nav-tabs li .nav-link.active{color:#9B51E0;}
.transport-page .features-area .tab-content{box-shadow: 0 0px 50px rgb(0 0 0 / 10%) !important;margin-bottom: -140px;word-break: break-word;}
.transport-page .features-area .tab-content p{color: #1F1F41;}
.transport-page .features-area .tab-content:before{content: "";position: absolute;left:-10px;top:-10px;width:87px;height:87px;background-color: rgba(155,81,224,0.30);z-index: -1;}
.transport-page .features-area .tab-content:after{content: "";position: absolute;right:-40px;bottom:-40px;width: 103px;height:114px;background:url(../images/home-page/join-path.svg) no-repeat;opacity: 0.50;z-index: -1;}

.transport-page .how-it-works{padding-top: 250px;}
.transport-page .join-us{overflow:hidden;}
.transport-page .join-us .text-content a.text-pink:focus,.transport-page .join-us .text-content a.text-pink:hover {color: #343a40!important;}
.transport-page .join-us .text-content .learn-more{box-shadow: 0 0px 100px rgb(0 0 0 / 10%) !important;}
.transport-page .join-us .img-wrapper{float: right;}
.transport-page .join-us .img-wrapper:after{content: "";position: absolute;right:-120px;left:auto;top:70px;bottom:70px;background-color: rgba(112,112,112,0.07);width:960px;z-index: -1;}
.transport-page .join-us.shipper .img-wrapper{float: none;}
.transport-page .join-us.shipper .img-wrapper:after{content: "";position: absolute;left:-120px;right:auto;top:70px;bottom:70px;background-color: rgba(112,112,112,0.07);width:960px;z-index: -1;}
.transport-page .join-us .img-wrapper .img-wrap{width:295px;height:295px;top:50px;right:120px;}

body.outer .main-menu.fixed {position: fixed !important;left:0;right:0;top:0;width: 100%; background-color: #ffffff; z-index: 9999; transition: 0.5s ease-in-out; box-shadow: 0 0 3px 0;padding: 25px 0;}
body.outer .main-menu{position: relative;}

.mission-block > .container-fluid > .row:before{content: "";position: absolute;left:0;right:0;width:80%;height:100%;background-color: rgba(112,112,112,0.07);}
.mission-block h2:after{content: ""; position: absolute; left:auto;right: -90px; top: auto;bottom:0; background-image: url(../../images/home-page/join-path.svg); background-repeat: no-repeat; width: 103px; height: 114px; z-index: -1;}

.transport-page .how-it-works{background-color: rgba(230,203,255,0); background: linear-gradient(to bottom, rgba(230,203,255,0) 0%, rgba(155,81,224,0.18) 100%);}


.timeline {position: relative; padding: 0; list-style: none;}
.timeline:before {position: absolute; top: 15px; bottom: 15px; left: 40px; width:5px; margin-left: -1.5px; content: ""; background-color: #1F1F41;}
.timeline > li {position: relative; min-height: 50px; margin-bottom: 50px;}
.timeline > li:after, .timeline > li:before {display: table; content: " ";}
.timeline > li:after {clear: both; } 
.timeline > li .timeline-panel {position: relative; float: right; width: 100%; padding: 0 20px 0 100px; text-align: left;}
.timeline > li .timeline-panel:before {right: auto; left: -15px; border-right-width: 15px; border-left-width: 0;}
.timeline > li .timeline-panel:after {right: auto; left: -14px; border-right-width: 14px; border-left-width: 0;
}
.timeline > li .timeline-image {position: absolute; z-index: 100; left: 0; width: 80px; height: 80px; margin-left: 0; text-align: center; color: white; border-radius: 100%; background-color:#F0E9F6; box-shadow: 0 3px 20px rgb(0 0 0 / 16%) !important;}
.timeline > li .timeline-image .icon{width:85px;height:85px;background-color: #ffffff;border-radius: 50%;}
.timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {font-size: 10px; line-height: 14px; margin-top: 12px;}
.timeline > li.timeline-inverted > .timeline-panel {float: right; padding: 0 20px 0 100px; text-align: left;}
.timeline > li.timeline-inverted > .timeline-panel:before {right: auto; left: -15px; border-right-width: 15px; border-left-width: 0;}
.timeline > li.timeline-inverted > .timeline-panel:after {right: auto; left: -14px; border-right-width: 14px; border-left-width: 0;}
.timeline > li:last-child {margin-bottom: 0;}
.timeline .timeline-heading h4, .timeline .timeline-heading .h4 {margin-top: 0; color: inherit;}
.timeline .timeline-heading h4.subheading, .timeline .timeline-heading .subheading.h4 {text-transform: none; } 
.timeline .timeline-body > ul, .timeline .timeline-body > p {margin-bottom: 0;}

.add-one{position: relative;}
.add-one img{position: absolute;left:0px;}

.sign-in-side.carrier-sign-view .tab-content .form-group .form-control{padding:15px 20px 15px 70px;border:1px solid #dee2e6 !important;}
.sign-in-side.carrier-sign-view .tab-content .form-group .icon{left:20px;top:50%;transform: translateY(-50%);width:30px;height:30px;}
.sign-in-side.carrier-sign-view .tab-content .form-group .icon img{position: absolute;left:0;right:0;top:50%;transform: translateY(-50%);}
.sign-in-side.carrier-sign-view .tab-content .form-group .verify-icon{position: relative;}
.sign-in-side.carrier-sign-view .tab-content .form-group .icon.verified{position: absolute;right:20px;left: auto;width: auto;height: auto;}
.sign-in-side.carrier-sign-view .tab-content .form-group .icon.verified a.text-pink:hover,.sign-in-side.carrier-sign-view .tab-content .form-group .icon.verified a.text-pink:focus{color: #9B51E0 !important;}
.sign-in-side.carrier-sign-view .tab-content .form-group{margin-bottom: 30px;}
.sign-in-side.carrier-sign-view .tab-content .form-group .parsley-errors-list,.sign-in-side.carrier-sign-view .tab-content .form-group .text-danger{position: absolute;bottom:-25px;}



@media (min-width: 768px) {
  .timeline:before {left: 50%;}
  .timeline > li {min-height: 100px; margin-bottom: 100px;}
  .timeline > li .timeline-panel {float: left; width: 41%; padding: 0 20px 20px 30px; text-align: right;}
  .timeline > li .timeline-image {left: 50%; width: 100px; height: 100px; margin-left: -50px;}
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {font-size: 13px; line-height: 18px; margin-top: 16px;}
  .timeline > li.timeline-inverted > .timeline-panel {float: right; padding: 0 30px 20px 20px; text-align: left; } 
}
@media (min-width: 992px) {
  .timeline > li {min-height: 150px; } 
  .timeline > li .timeline-panel {padding: 0 20px 20px;}
  .timeline > li .timeline-image {width: 150px; height: 150px; margin-left: -75px;}
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {font-size: 18px; line-height: 26px; margin-top: 30px;}
  .timeline > li.timeline-inverted > .timeline-panel {padding: 0 20px 20px; } 
}
@media (min-width: 1200px) {
  .timeline > li {min-height: 170px; } 
  .timeline > li .timeline-panel {padding: 0 20px 20px 100px;}
  .timeline > li .timeline-image {width: 148px; height: 148px; margin-left: -72px;}
  .timeline > li .timeline-image h4, .timeline > li .timeline-image .h4 {margin-top: 40px; } 
  .timeline > li.timeline-inverted > .timeline-panel {padding: 0 100px 20px 20px;}
}