@import url("https://fonts.googleapis.com/css?family=Noto+Sans:400,700|Source+Sans+Pro:400,600,700");
@import url("https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css");
/* =============
   Common
============= */
@font-face {
  font-family: myFirstFont;
  src: url(fonts/fontawesome-webfont.woff);
}
body {
  background: #ebeff2;
  margin: 0;
  overflow-x: hidden;
  color: #797979;
  font-family: "Noto Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}
html {
  position: relative;
  min-height: 100%;
  background: #ebeff2;
}
h1, h2, h3, h4, h5, h6 {
  margin: 10px 0;
  font-family: "Source Sans Pro", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 600;
  color:#797979;
}

.btn-primary
{
	background-color: #1f1f41;
	border-color:#1f1f41;
}
.btn-primary:hover {
    color: #fff;
    background-color: #653b9b;
    border-color: #653b9b;
}
.rounded-circle{
	object-fit: cover;
}
.navbar-custom
{
	background-color: #fff;
}
/*.table th
{
	background-color: #1f1f41;
    color: wheat;
}
.table th, .table td
{
	padding: 0.50rem;
}*/
.left-side-menu
{
	padding: 0px;
	background: #1f1f41;
}

#sidebar-menu > ul > li > a
{
	color:#fff;
}
/*#sidebar-menu > ul > li > a.active
{
	color: #000;
    background-color: #fff;
}*/

#sidebar-menu > ul > li > a.active, #sidebar-menu > ul > li:hover > a{color:#fff !important;background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.31),rgba(255,255,255,0.40));background-color: transparent !important;}

#sidebar-menu > ul > li > a:hover
{
	color: #fff;
    /*background-color: #fff;*/
}
.nav-second-level li a:focus, .nav-second-level li a:hover, .nav-thrid-level li a:focus, .nav-thrid-level li a:hover
{
	color:#653b9b;
}
#sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active
{
	color:#fff;	
}
.enlarged .left-side-menu #sidebar-menu > ul > li > a:hover, .enlarged .left-side-menu #sidebar-menu > ul > li > a:active, .enlarged .left-side-menu #sidebar-menu > ul > li > a:focus
{
	color:#653b9b;	
}
.enlarged .left-side-menu #sidebar-menu > ul > li:hover > ul a:hover
{
	color:#653b9b;	
}
.navbar-custom .button-menu-mobile
{
	color:#000;
}
.navbar-custom .topnav-menu .nav-link
{
	color:#000;	
}
.page-item.active .page-link
{
	background-color: #1f1f41;
    border-color: #1f1f41;
}
.nav-second-level li a, .nav-thrid-level li a
{
	color:#fff;
}
.breadcrumb
{
	padding: 0px;
}
/* =============
   Portlets
============= */
.portlet {
  background: #fff;
  border-radius: 0.25rem;
  margin-bottom: 20px;
  background-clip: padding-box;
  box-shadow: 0 0 35px 0 rgba(154, 161, 171, 0.15);
}
.portlet .portlet-heading {
  border-radius: 3px 3px 0 0;
  padding: 12px 20px;
  /*border-bottom: 1px solid #efefef;*/
}
.portlet .portlet-heading .portlet-title {
  float: left;
  line-height: 1.5;
  margin: 0;
}
.portlet .portlet-heading .portlet-widgets {
  display: inline-block;
  float: right;
  font-size: 15px;
  line-height: 30px;
  padding-left: 15px;
  position: relative;
  text-align: right;
}
.portlet .portlet-heading .portlet-widgets .divider {
  margin: 0 5px;
}
.portlet .portlet-heading .portlet-widgets .collapsed .ion-minus-round:before {
  content: "" !important;
}
.portlet .portlet-heading a {
  color: #999999;
}
.portlet .portlet-body {
  -moz-border-radius-bottomleft: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-left-radius: 5px;
  -webkit-border-bottom-right-radius: 5px;
  background: #fff;
  border-top: 1px solid #ccc;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 15px;
}
.portlet-default .portlet-title {
  color: #ccc !important;
}
.portlet .portlet-heading.bg-custom a, .portlet .portlet-heading.bg-purple a, .portlet .portlet-heading.bg-info a, .portlet .portlet-heading.bg-success a, .portlet .portlet-heading.bg-primary a, .portlet .portlet-heading.bg-danger a, .portlet .portlet-heading.bg-warning a, .portlet .portlet-heading.bg-inverse a, .portlet .portlet-heading.bg-pink a {
  color: #fff;
}
.portlet .portlet-heading .portlet-title
{
    color: #797979;
    float: left;
    font-size: 18px;
    font-weight: 600;
    margin-bottom: 0;
    margin-top: 5px;
}
.panel-disabled {
  background: rgba(243, 242, 241, 0.5);
  bottom: 15px;
  left: 0;
  position: absolute;
  right: -5px;
  top: 0;
}
.loader-1 {
  -moz-animation: loaderAnimate 1000ms linear infinite;
  -o-animation: loaderAnimate 1000ms linear infinite;
  -webkit-animation: loaderAnimate 1000ms linear infinite;
  animation: loaderAnimate 1000ms linear infinite;
  clip: rect(0, 30px, 30px, 15px);
  height: 30px;
  left: 50%;
  margin-left: -15px;
  margin-top: -15px;
  position: absolute;
  top: 50%;
  width: 30px;
}
.loader-1:after {
  -moz-animation: loaderAnimate2 1000ms ease-in-out infinite;
  -o-animation: loaderAnimate2 1000ms ease-in-out infinite;
  -webkit-animation: loaderAnimate2 1000ms ease-in-out infinite;
  animation: loaderAnimate2 1000ms ease-in-out infinite;
  border-radius: 50%;
  clip: rect(0, 30px, 30px, 15px);
  content: "";
  height: 30px;
  position: absolute;
  width: 30px;
}
/* Labels */
.label {
  display: inline;
  padding: 0.3em .6em;
  font-size: 75%;
  font-weight: 700;
  line-height: 1;
  color: #fff;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  border-radius: .25em;
}
.label:empty {
  display: none;
}
.label-white {
  background-color: rgba(255, 255, 255, 0.7);
  color: #36404a !important;
}
.label-default {
  background-color: #5fbeaa;
}
.label-primary {
  background-color: #5d9cec;
}
.label-success {
  background-color: #81c868;
}
.label-info {
  background-color: #34d3eb;
}
.label-warning {
  background-color: #ffbd4a;
}
.label-danger {
  background-color: #f05050;
}
.label-purple {
  background-color: #7266ba;
}
.label-pink {
  background-color: #fb6d9d;
}
.label-inverse {
  background-color: #4c5667;
}
.label-muted {
  background-color: #98a6ad;
}
.label-pink {
  background-color: $pink;
}
.label-inverse {
  background-color: $inverse;
}
.label-muted {
  background-color: $muted;
}
.cursur-pointer
{
	cursor: pointer;
}

.image_size {width: 50px; height: 50px; border-radius: 21%; object-fit: cover;}


/* custimized */
.notiflix-confirm-content{
  border-radius: 0px !important;
}
.confirm-button-ok{
  background-color:#1f1f41 !important;
}
.confirm-button-cancel{
  background:  #d9534f !important;
}
.notiflix-confirm-head h5{
  color: #0f0f20 !important;
}
.grab{ 
  cursor: pointer !important;
}
.stop{
  cursor: not-allowed;
}


/*#sidebar-menu > ul > li > a:hover, #sidebar-menu > ul > li > a:focus, #sidebar-menu > ul > li > a:active{
  color:black !important;
}*/
.post-user-comment-box{
  margin: 0 !important;
  padding: 7px !important;
  margin-top: 20px !important;
}
.new-card{
  background-color: aliceblue !important;
}

.gall-info > img 
{
    height: 25px;
    width: 25px;
    object-fit: cover;
}

.nav-second-level li.active>a, .nav-third-level li.active>a{color: #9c53df !important;}
.left-side-menu ul li> a:hover,.left-side-menu ul li> a:focus,.left-side-menu ul li ul li:hover> a{color:#fff !important;background-image: linear-gradient(to right, rgba(255,255,255,0), rgba(255,255,255,0.31),rgba(255,255,255,0.40));background-color: transparent !important;}
.left-side-menu ul li ul li.active> a{color:#9c53df !important;}

.enlarged #sidebar-menu > ul > li > a.active span,.enlarged #sidebar-menu > ul > li:hover > a span,.sidebar-enable.enlarged #sidebar-menu > ul > li > a.active span,.sidebar-enable.enlarged #sidebar-menu > ul > li:hover > a span{color: #323a46!important;}
.enlarged #sidebar-menu > ul > li:hover > ul > li > a,.sidebar-enable.enlarged #sidebar-menu > ul > li:hover > ul > li > a{color: #9c53df!important;}
.btn-outline-primary,.btn-outline-danger,.btn-outline-info,.btn-outline-dark{border:none;}
.navbar-custom .logout a{display: block;padding:10px 10px 10px 20px !important;}
.btn-outline-info:hover,.btn-outline-danger:hover,.btn-outline-primary:hover{background-color: transparent;}
